{% extends 'home/layout.html' %}

{% block content %}


<div class="hero__page">
    <h2>Uh oh... Something went wrong!</h2>
    <p class="paragraph__text--medium">
        The server encountered an internal error and was unable to complete your request.
    </p>
    <p>
        If the problem persists, please <a class="anchor__custom--default" href="mailto:john@channelry.com">report</a>
        your problem and mention this error message and the query that caused it.
    </p>
</div>

{% endblock %}
