{% extends 'layout.html' %}
{% load static %}
{% block page %}

<div class="container mt-5">
    <h2 class="mb-5">Mindset: Changing The Way You think To Fulfil Your Potential</h2>
    <div class="row">
        <div class="col-lg-2 mb-5">
            <b>JAN 16, 2020</b>
        </div>
        <div class="col-lg-10">
            <p>Duis aliquet ut est vel efficitur. Ut aliquam, erat et ultricies mattis, justo ipsum volutpat tellus, sit amet tempor neque erat at posuere.</p>

            <p>
                Fusce sed commodo dui. Sed eget enim consectetur, sagittis metus sed, euismod quam. Maecenas lobortis elit nec iaculis cursus. Cras facilisis ac dolor et laoreet. Sed iaculis rutrum sem, in vestibulum justo sodales volutpat. Quisque ac libero et sem fermentum volutpat non at sed.
            </p>

            <p>
                Fusce sed commodo dui. Sed eget enim consectetur, sagittis metus sed, euismod quam. Maecenas lobortis elit nec iaculis cursus. Cras facilisis ac dolor et laoreet. Sed iaculis rutrum sem, in vestibulum justo sodales volutpat. Quisque ac libero et sem fermentum volutpat non at sed.
            </p>
        </div>
    </div>
</div>

{% endblock %}