{% extends 'shared/layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class='row mt-5'>
    <div class='col-lg-2'></div>
    <div class='col-lg-8 mb-5 my-auto'>
        <div class="card">
            <div class="card-body">
                <h1 class='h1-heading'>Domain search</h1>
                <p>Spidxr lets you find email addresses in seconds and connect with the people that matter for your business.</p>
                <form>
                    {% csrf_token %}
                    <div class="input-group mb-2">
                        {{ form.email | add_class:"form-control" | attr:"placeholder:spidxr.com" }}
                        <div class="input-group-append">
                            <button type='submit' class='btn btn-block btn-spidxr-primary'>
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <small>Enter a domain name to find email addresses.</small>
            </div>
        </div>
    </div>
    <div class='col-lg-2'></div>
</div>

{% endblock %}
