{% extends 'shared/layout.html' %}
{% load widget_tweaks %}

{% block content %}


<div class='row'>
    <div class='col-lg-2'></div>
    <div class='col-lg-8'>
        <div class='card'>
            <div class='card-body'>
                <h2 class='h2-heading text-center mb-3 mt-3'>How it works</h2>
                <p>Earn a special reward when referring friends and family to make a purchase with us.</p>
                <p><b>You</b> will receive a 10% off coupon</p>
                <p><b>They</b> will receive a 10% off coupon</p>
                <div class='form-inline'>
                    <div class='form-group'>
                        <input type='text' class='form-control mr-3' value='http://ref.rwdp.co/ASREG333' disabled/>
                        <a href='/' class='btn btn-netprechaun-primary'>Copy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-lg-2'></div>
</div>

{% endblock %}
