{% extends 'dashboard/layout.html' %}

{% block content %}


<div class='card'>
    <div class='card-body'>
        <h3 class='font__custom--title float-left mb-3'>Product</h3>
        <a href="{{ url_for('product.create') }}" class="btn btn__custom--primary float-right mb-3">Create</a>
        <table class="table table-sm table-responsive-sm">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Inventory</th>
                    <th scope="col">Category</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td scope="row">
                        <img src='https://placeholder.pics/svg/20' class='img-fluid'>
                        {{ product.title }}
                    </td>
                    <td>{{ product.inventory.quantity }} in stock</td>
                    <td>{{ product.category }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
