<!DOCTYPE html>
<html lang="en">
<head>
    {% include "shared/head.html" %}
</head>
<body>
    {% include "home/nav.html" %}
    <div class='bg__layout--white mb-5'>
        <div class='container container__padding--top'>
            <div class="row">
                <div class='col-lg-8'>
                    <h1 class='font__custom--title'>The smart way to serve images.</h1>
                    <p class='font__custom--text'>
                        Easy image management, manipulation and delivery.
                        Drive your business forward with the new breed of image CDN.
                    </p>
                    <a href='#' class="btn btn__custom--primary">GET STARTED</a>
                    <a href='#' class="btn btn__custom--primary--outline">CONTACT SALES</a>
                </div>
                <div class="col-lg-4">

                </div>
            </div>

        </div>
    </div>
    <div class='col-lg-12' style='background-color: #F7F9FD; padding-top: 50px; padding-bottom: 50px;'>
        <div class='row'>
            <div class='col-lg-3'></div>
            <div class='col-lg-6'>
                <div class='row'>
                    <div class='col-lg-6'>
                        <h3 class='font__custom--title'>Keep in touch</h3>
                        <p class='font__custom--text'>
                            Share your email so we can send you occasional email updates about Staticfile.
                        </p>
                    </div>
                    <div class='col-lg-6 my-auto'>
                        <form method=post>
                            {{ form.csrf_token }}
                            <span class='input-group'>
                                {{ form.email(class_='form-control', placeholder='Your email') | safe }}
                                <span class="input-group-append">
                                    <span class="btn btn__custom--primary"><i class="fas fa-arrow-right"></i></span>
                                </span>
                            </span>
                            <small class='text-muted'>No spam. Unsubscribe at anytime</small>
                        </form>
                    </div>
                </div>
            </div>
            <div class='col-lg-3'></div>
        </div>
    </div>
    {% include "home/footer.html" %}
    {% include "shared/scripts.html" %}
</body>
</html>
