{% extends 'shared/layout.html' %}

{% block content %}


<div class='container container__padding'>
    <div class='row'>
        <div class='col-lg-4'></div>
        <div class='col-lg-4'>
            <div class='card'>
                <div class='card-body'>
                    <h5 class='font__custom--title text-center mb-3 mt-3'>Welcome back!</h5>
                    {% from "form/vertical.html" import render_field %}
                    <form method=post>
                        {{ form.csrf_token }}
                        {{ render_field(form.email) }}
                        {{ render_field(form.password) }}
                        {% include "shared/recaptcha.html" %}
                        <div class='mb-3'>
                            <span class='text-left'>{{ form.remember }} <label for='remember'><small class='text-muted'>Remember me</small></label></span>
                            <span class='float-right'><small><a class='anchor__custom--default' href="{{ url_for('auth.forgot') }}">Forgot your password?</a></small></span>
                        </div>
                        <button type='submit' class='btn btn-block btn-Primary'>Sign in to your account</button>
                    </form>
                </div>
            </div>
        </div>
        <div class='col-lg-4'></div>
        <div class='col-lg-4'></div>
        <div class='col-lg-4 mt-5'>
            <div class='text-center font__custom--text'>
                Don't have an account? <a class="anchor__custom--default" href="{{ url_for('auth.signup') }}">Sign up</a>.
            </div>
        </div>
        <div class='col-lg-4'></div>
    </div>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>


{% endblock %}
