{% extends 'shared/layout.html' %}
{% load static %}

{% block content %}


<div class='row'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
        <div class='card'>
            <div class='card-body'>
                <h2 class='h2-heading text-center mb-3 mt-3'>Welcome back!</h2>
                <form method='post'>
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        <div style='color: red' class='mb-3'>{{ error }}</div>
                    {% endfor %}
                    {% for field in form %}
                        <fieldset class='form-group'>
                            <label class='control-label' for='id_{{ field.name }}'>{{ field.label }}</label>
                            <input type='{{ field.field.widget.input_type }}' class='form-control' name='{{ field.name }}' id='id_{{ field.name }}'  value="{{ field.value | default_if_none:'' }}">
                            {% if field.errors.count > 1 %}
                                {% for error in field.errors %}
                                    <ul>
                                        <li style="color: red">{{ error }}</li>
                                    </ul>
                                {% endfor %}
                            {% else %}
                                <span style='color: red'>{{ field.errors.0 }}</span>
                            {% endif %}
                        </fieldset>
                    {% endfor %}
                    <p><a href="{% url 'pxdcast:privacy' %}">Forgot your password?</a></p>
                    <button type='submit' class='btn btn-block btn-pxdcast-primary mb-3'>Login</button>
                </form>
            </div>
        </div>
    </div>
    <div class='col-lg-3'></div>
    <div class='col-lg-3'></div>
    <div class='col-lg-6 mt-3'>
        <div class='card'>
            <div class='card-body text-center'>
                Don't have an account? <a href="{% url 'pxdcast:signup' %}">Sign up</a> 
            </div>
        </div>
    </div>
    <div class='col-lg-3'></div>
</div>


{% endblock %}
