{% load i18n %}
{% autoescape off %}
Somebody (hopefully you) requested a new password for Pxdcast account for {{ user.email }}. No changes have been made to your account yet.

You can reset your password by clicking the link below:
{% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'pxdcast:reset_confirm' uidb64=uid token=token %}
{% endblock %}
If you did not request a new password, please let me know immediately by replying to john@pxdcast.com.

Yours,
The Pxdcast team

{% endautoescape %}