{% autoescape off %}Somebody (hopefully you) requested a new password for Rewardplex account for {{ user.email }}. No changes have been made to your account yet.

You can reset your password by clicking the link below:
{% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'rewardplex:reset_confirm' uidb64=uid token=token %}
{% endblock %}
If you did not request a new password, please let me know immediately by replying to john@rewardplex.com.

Yours,
The Rewardplex team

{% endautoescape %}