{% extends 'shared/layout.html' %}

{% block content %}

<div class='container container-padding'>
    <div class='mb-3'>
        <h3 class='h3-heading'>About</h3>
        <p>
            Channelry helps online sellers manage their products across different marketplaces
            which enables our users to focus more on delivering insanely great products to their customers.
            We've got a long road ahead but we believe that if we 
            put our users first,
            a laser-focus on building a powerful product
            and the belief that we can accomplish this mission
            then the journey becomes an exciting one.
        </p>
    </div>
    
    <div>
        <h3 class='h3-heading'>Team</h3>
        <div class="card-body">
            <div class='row'>
                <div class='col-sm-2 text-center'>
                    <img class="img-fluid" src="https://www.jkrclaro.com/static/media/me.6595ced6.png" height=100 width=100 alt="John Claro">
                </div>
                <div class='col-sm-10'>
                        <h5 class="card-title h5-heading mb-3">John Claro</h5>
                        <p class="card-text">Before Channelry, John worked as data engineer for Ireland's largest marketplace. He studied Applied Computing in Waterford Institute of Technology.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
