<div style='border-top: 1px solid #D3D3D3'>
    <div class='container mb-5 mt-5'>
        <div class='row'>
            <div class='col-lg-3 mb-3'>
            <h5 class='header__logo mb-5'>channelry</h5>
            <div class='mb-3'>
                <a href=''><i class="fab fa-facebook text-muted mr-3"></i></a>
                <a href=''><i class="fab fa-twitter text-muted mr-3"></i></a>
                <a href=''><i class="fab fa-instagram text-muted mr-3"></i></a>
                <a href=''><i class="fab fa-linkedin text-muted mr-3"></i></a>
            </div>
            <small>Copyright @2019 Channelry</small>
            </div>
            <div class='col-lg-1 mb-3'></div>
            <div class='col-6 col-sm-3 col-lg-2 mb-3'>
            <h6 class='header__title'>Product</h6>
            <div><a class='anchor__custom--muted' href="{{ url_for('home.pricing') }}">Pricing</a></div>
            </div>
            <div class='col-6 col-sm-3 col-lg-2 mb-3'>
            <h6 class='header__title'>Company</h6>
            <div><a class='anchor__custom--muted' href="{{ url_for('home.about') }}">About</a></div>
            </div>
            <div class='col-6 col-sm-3 col-lg-2 mb-3'>
            <h6 class='header__title'>Support</h6>
            <div><a class='anchor__custom--muted' href='mailto:john@channelry.com'>Contact</a></div>
            </div>
            <div class='col-6 col-sm-3 col-lg-2 mb-3'>
            <h6 class='header__title'>Legal</h6>
            <div><a class='anchor__custom--muted' href="{{ url_for('home.privacy') }}">Privacy</a></div>
            <div><a class='anchor__custom--muted' href="{{ url_for('home.terms') }}">Terms</a></div>
            </div>
        </div>
    </div>
</div>