<div class="bg__content--white sticky-bottom">
    <div class='container container__padding'>
        <div class='row'>
            <div class='col-lg-3'>
            <small class='footer__title--muted'><i class="far fa-copyright"></i> Channelry</small>
            </div>
            <div class='col-lg-1'></div>
            <div class='col-6 col-sm-3 col-lg-2'>
                <h6 class='footer__title footer__title--muted footer__title--muted--uppercase'>Product</h6>
                <div class="font__custom--text"><a class='anchor__custom--muted' href="{{ url_for('home.pricing') }}">Pricing</a></div>
            </div>
            <div class='col-6 col-sm-3 col-lg-2'>
                <h6 class='footer__title footer__title--muted footer__title--muted--uppercase'>Company</h6>
                <div class="font__custom--text"><a class='anchor__custom--muted' href="{{ url_for('home.about') }}">About</a></div>
            </div>
            <div class='col-6 col-sm-3 col-lg-2'>
                <h6 class='footer__title footer__title--muted footer__title--muted--uppercase'>Resources</h6>
                <div class="font__custom--text"><a class='anchor__custom--muted' href='mailto:john@channelry.com'>Contact</a></div>
            </div>
            <div class='col-6 col-sm-3 col-lg-2'>
                <h6 class='footer__title footer__title--muted footer__title--muted--uppercase'>Legal</h6>
                <div class="font__custom--text"><a class='anchor__custom--muted' href="{{ url_for('home.privacy') }}">Privacy</a></div>
                <div class="font__custom--text"><a class='anchor__custom--muted' href="{{ url_for('home.terms') }}">Terms</a></div>
            </div>
        </div>
    </div>
</div>