{% extends 'dashboard/layout.html' %}
{% block content %}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="text-center mt-3 mb-5">
                    <h3 class="font__custom--title">Welcome to Warkphone!</h3>
                    <div class="font__custom--text">
                        You're a few steps closer in fully utilizing our services.
                    </div>
                    <div class="font__custom--text">We've outlined below how you can activate them.</div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-2 text-lg-right font__custom--text">
                        <i class='fas fa-rocket'></i>
                    </div>
                    <div class="col-lg-6">
                        <p class="font__custom--text"><b>Launch website</b></p>
                        <p class="font__custom--text">This is just for testing purposes really, you shouldn't be able to see this.</p>
                    </div>
                    <div class="col-lg-4 my-auto">
                        <a href="{{ url_for('dashboard.deploy') }}" class="btn btn-Primary btn-block">Launch website</a>
                    </div>
                    <hr/>
                </div>


                <div class="row mb-3">
                    <div class="col-lg-2 text-lg-right font__custom--text">
                        <i class='fas fa-envelope'></i>
                    </div>
                    <div class="col-lg-6">
                        <p class="font__custom--text"><b>Verify your email</b></p>
                        <p class="font__custom--text">Please verify your email before activating your account.</p>
                    </div>
                    <div class="col-lg-4 my-auto">
                        <a href="{{ url_for('merchant.setup') }}" class="btn btn-Primary btn-block">Resend verification email</a>
                    </div>
                    <hr/>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-2 text-lg-right font__custom--text">
                        <i class='fas fa-store'></i>
                    </div>
                    <div class="col-lg-6">
                        <p class="font__custom--text"><b>Activate your Warkphone account</b></p>
                        <p class="font__custom--text">Before you start selling online, tell us a few details about you and your online business.</p>
                    </div>
                    <div class="col-lg-4 my-auto">
                        <a href="{{ url_for('merchant.setup') }}" class="btn btn-Primary btn-block">Activate</a>
                    </div>
                    <hr/>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-2 text-lg-right font__custom--text">
                        <i class='fas fa-cube'></i>
                    </div>
                    <div class="col-lg-6">
                        <p class="font__custom--text"><b>Create a menu</b></p>
                        <p class="font__custom--text">You can add your products to a menu which will be displayed on your website.</p>
                    </div>
                    <div class="col-lg-4 my-auto">
                        <a href="{{ url_for('merchant.setup') }}" class="btn btn-Primary btn-block">Add product</a>
                    </div>
                    <hr/>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-2 text-lg-right font__custom--text">
                        <i class='fas fa-palette'></i>
                    </div>
                    <div class="col-lg-6">
                        <p class="font__custom--text"><b>Edit the look and feel of your cafe</b></p>
                        <p class="font__custom--text">Choose a theme and add a logo, product slideshow, and colors that match your brand.</p>
                    </div>
                    <div class="col-lg-4 my-auto">
                        <a href="{{ url_for('merchant.setup') }}" class="btn btn-Primary btn-block">Customize theme</a>
                    </div>
                    <hr/>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-2 text-lg-right font__custom--text">
                        <i class='fas fa-globe'></i>
                    </div>
                    <div class="col-lg-6">
                        <p class="font__custom--text"><b>Strengthen your brand with a custom domain</b></p>
                        <p class="font__custom--text">Your current domain is nike.warkphone.com but you can add a custom domain to help customers find your cafe.</p>
                    </div>
                    <div class="col-lg-4 my-auto">
                        <a href="{{ url_for('merchant.setup') }}" class="btn btn-Primary btn-block">Add domain</a>
                    </div>
                    <hr/>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>


{% endblock %}
