* {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
}

#footer {
    position: relative;
    clear: both;
}

.icon {
    font-size: 48px;
    color: #009E60;
}

.nav-link-center {
    font-family: 'Poppins' !important;
}

/* -- Text */
.h1-heading, .h2-heading, .h3-heading, .h4-heading {
    font-family: 'Poppins';
    font-weight: 700;
}
/* Text -- */

/* -- Header */
.logo-text {
    padding-top: 20px;
    font-family: 'Poppins';
    font-size: 48px; 
    font-weight: 700;
    color: #111;
}
/* Header -- */

/* -- Button */
.btn {
    border-radius: 8px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-rewardp-primary {
    background-color: #009E60;
    border-color: #009E60;
    color: #fff;
}
.btn-rewardp-primary:hover, .btn-rewardp-primary:focus, .btn-rewardp-primary:active, .btn-rewardp-primary.active, .open > .dropdown-toggle.btn-rewardp-primary {
    background-color: #09AB0E;
    border-color: #09AB0E;
    color: #fff;
}
.btn-rewardp-primary-outline {
    border-color: #009E60;
    color: #009E60;
    border: 2px solid;
}
.btn-rewardp-primary-outline:hover, .btn-rewardp-primary-outline:focus, .btn-rewardp-primary-outline:active, .btn-rewardp-primary-outline.active, .open > .dropdown-toggle.btn-rewardp-primary-outline {
    border-color: #09AB0E;
    color: #09AB0E;
    border: 2px solid;
}
/* Button -- */

a {
    color: #009E60;
}
a:hover {
    color: #09AB0E;
}

/* -- Form */
.form-control {
    color: #111 !important;
}
/* Form -- */

.content-outer {
    width: 100%;
    height: 100vh;
    display: flex;
}

.content-inner {
    margin: auto;
}