
/* -- Layout */
* {
    font-family: 'Roboto', sans-serif;
}

.icon {
    font-size: 36px;
    color: #6772E5;
}
/* Layout -- */

.nav-link-center {
    font-family: 'Open Sans' !important;
}

/* -- Text */
.h1-heading, .h2-heading, .h3-heading, .h4-heading, .h5-heading {
    font-family: 'Open Sans';
    font-weight: 700;
}
/* Text -- */

/* -- Header */
.logo-text {
    padding-top: 20px;
    font-family: 'Open Sans';
    font-size: 36px; 
    font-weight: 700;
    color: #111;
}
/* Header -- */

/* -- Button */
.btn {
    border-radius: 8px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-sxftware-primary {
    background-color: #6772E5;
    border-color: #6772E5;
    color: #fff;
}
.btn-sxftware-primary:hover, .btn-sxftware-primary:focus, .btn-sxftware-primary:active, .btn-sxftware-primary.active, .open > .dropdown-toggle.btn-sxftware-primary {
    background-color: #C21135;
    border-color: #C21135;
    color: #fff;
}
.btn-sxftware-primary-outline {
    border-color: #6772E5;
    color: #6772E5;
    border: 2px solid;
}
.btn-sxftware-primary-outline:hover, .btn-sxftware-primary-outline:focus, .btn-sxftware-primary-outline:active, .btn-sxftware-primary-outline.active, .open > .dropdown-toggle.btn-sxftware-primary-outline {
    border-color: #C21135;
    color: #C21135;
    border: 2px solid;
}

.btn-sxftware-secondary {
  background-color: #f22f46;
  border-color: #f22f46;
  color: #fff;
}
.btn-sxftware-secondary:hover, .btn-sxftware-secondary:focus, .btn-sxftware-secondary:active, .btn-sxftware-secondary.active, .open > .dropdown-toggle.btn-sxftware-secondary {
  background-color: #FFE3BF;
  border-color: #FFE3BF;
  color: #856404;
}
/* Button -- */

.sxftware-anchor-muted {
    color: #999;
}
.sxftware-anchor-muted:hover {
    color: #666;
}

/* -- Form */
.form-control {
    color: #111 !important;
}
/* Form -- */

/* -- Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6772E5;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #6772E5;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* Switch --*/

.uppercase {
    text-transform: Uppercase;
}