{% extends 'layout.html' %}
{% load static %}
{% block page %}

<div class='col-lg-12'>
    <div class='row'>
        <div class='col-lg-10'>
            <div>My name is John Claro, I'm a passionate software engineer primarily interested in web development and cloud computing.</div>
            <div>I was born in the Philippines but grew up in Ireland and studied at WIT.</div>
            <div>I worked as data engineer for Ireland's largest online marketplace after graduating.</div>
            <br/>
            <p>If you want to contact me, you can reach me via one of the following communication channels:</p>
            <ul>
                <li>via <a href='mailto:jkrclaro@gmail.com'>email</a></li>
                <li>send me a message on <a href='https://www.github.com/jkrclaro' target="_blank" rel="noopener noreferrer">github</a></li>
                <li>reach out to me on <a href='https://www.twitter.com/jkrclaro' target="_blank" rel="noopener noreferrer">twitter</a></li>
                <li>connect with me on <a href='https://www.linkedin.com/in/jkrclaro' target="_blank" rel="noopener noreferrer">linkedin</a></li>
            </ul>
        </div>
        <div class='col-lg-2 mb-3'>
            <img src="{% static 'img/me.png' %}" alt='me' height="100" width="100"/>
        </div>
    </div>
</div>

{% endblock %}