<!DOCTYPE html>
<html lang="en">
<head>
    {% include "shared/head.html" %}
</head>
<body>
    {% include "home/nav.html" %}
    <div class='bg__layout--white mb-5'>
        <div class='container container__padding--top'>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class='col-lg-6'>
                    <div class="text-center">
                        <h3 class='font__custom--title'>Connect with anyone.</h3>
                        <p class='font__custom--text'>
                            Customerable lets you find email addresses in seconds and connect with the people that matter for your business.
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control mb-3" placeholder="company.com">
                                <span class="input-group-append">
                                    <span class="btn btn__custom--primary">Find email addresses</span>
                                </span>
                            </div>
                            <p class='font__custom--text'>
                                Enter a domain name to launch the search. For example, <a href="#">customerable.com</a>.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>

        </div>
    </div>
    <div class='col-lg-12' style='background-color: #F7F9FD; padding-top: 50px; padding-bottom: 50px;'>
        <div class='row'>
            <div class='col-lg-3'></div>
            <div class='col-lg-6'>
                <div class='row'>
                    <div class='col-lg-6'>
                        <h3 class='font__custom--title'>Keep in touch</h3>
                        <p class='font__custom--text'>
                            Share your email so we can send you occasional email updates about Customerable.
                        </p>
                    </div>
                    <div class='col-lg-6 my-auto'>
                        <form method=post>
                            {{ form.csrf_token }}
                            <span class='input-group'>
                                {{ form.email(class_='form-control', placeholder='Your email') | safe }}
                                <span class="input-group-append">
                                    <span class="btn btn__custom--primary"><i class="fas fa-arrow-right"></i></span>
                                </span>
                            </span>
                            <small class='text-muted'>No spam. Unsubscribe at anytime</small>
                        </form>
                    </div>
                </div>
            </div>
            <div class='col-lg-3'></div>
        </div>
    </div>
    {% include "home/footer.html" %}
    {% include "shared/scripts.html" %}
</body>
</html>
