:root {
    —-space: 1.5em 0;
    —-space: 2em 0;
}

.Site {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.Site-content {
   flex: 1 0 auto;
   padding: var( — space) var( — space) 0;
   width: 100%;
}
.Site-content:after {
   content: ‘\00a0’;
   display: block;
   margin-top: var( — space);
   height: 0;
   visibility: hidden;
}

* {
    font-family: 'Titillium Web';
}

.form-control {
    border-radius: 24px !important;
}

.btn {
    border-radius: 20px !important;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-humblepage-primary {
    border-color: #0275D8 !important;
    background-color: #0275D8 !important;
    color: #fff !important;
    font-weight: 700 !important;
}
.btn-humblepage-primary:hover, .btn-humblepage-primary:focus, .btn-humblepage-primary:active, .btn-humblepage-primary.active, .open > .dropdown-toggle.btn-humblepage-primary {
    border-color: #0275D8 !important;
    background-color: #0275D8 !important;
    color:#fff !important;
}
.btn-humblepage-alternative {
    border-color: #0275D8 !important;
    color: #0275D8 !important;
    font-weight: 700 !important;
}
.btn-humblepage-alternative:hover, .btn-humblepage-alternative:focus, .btn-humblepage-alternative:active, .btn-humblepage-alternative.active, .open > .dropdown-toggle.btn-humblepage-alternative {
    border-color: #0275D8 !important;
    color:#0275D8 !important;
}