:root {
    —-space: 1.5em 0;
    —-space: 2em 0;
}

.Site {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.Site-content {
   flex: 1 0 auto;
   padding: var( — space) var( — space) 0;
   width: 100%;
}
.Site-content:after {
   content: ‘\00a0’;
   display: block;
   margin-top: var( — space);
   height: 0;
   visibility: hidden;
}

* {
    font-family: 'Titillium Web'
}

.logo {
    height: 40px;
    width: 40px;
}
.brand-title {
    color: #111;
    font-weight: 700;
    font-size: 1.7em;
}

.nav-item:hover {
    text-decoration: none !important;
}
.nav-link {
    color: #454545;
    font-weight: 400;
}
.nav-link:hover {
    color: #3F0F3F;
}
.nav-item-style {
    padding-top: 10px !important;
}

.h1-title {
    font-weight: 900;
    font-size: 3.5em !important;
}
.h2-title {
    font-weight: 900;
}
.h4-title {
    font-weight: 900;
}

.footer-title {
    font-weight: 900;
}

ul {
    color: #3F0F3F;
}

.hero-section {
    background-color: #141414 !important;
    min-height: 100vh !important;
    color: #fff;
}

.sub-section {
    background-color: #fff !important;
}

.white-color, .white-color:hover {
    color: #fff;
}

.form-control {
    border-radius: 24px !important;
    border-color: #aaa !important;
    color: #A9A9A9 !important;
}

.anchor-link, .anchor-link:hover {
    color: #3F0F3F !important;
}

.section-work {
    background-color: #3F0F3F;
    color: #fff;
}

.btn {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-humblepage-primary {
    background-color: #3F0F3F;
    border-color: #3F0F3F;
    color: #fff;
}
.btn-humblepage-primary:hover, .btn-humblepage-primary:focus, .btn-humblepage-primary:active, .btn-humblepage-primary.active, .open > .dropdown-toggle.btn-humblepage-primary {
    background-color: #3F0F3F;
    border-color: #3F0F3F;
    color: #fff;
}
.btn-humblepage-primary-inverse {
    background-color: #fff !important;
    border-color: #3F0F3F !important;
    color: #3F0F3F !important;
    font-weight: 700 !important;
}
.btn-humblepage-primary-inverse:hover, .btn-humblepage-primary-inverse:focus, .btn-humblepage-primary-inverse:active, .btn-humblepage-primary-inverse.active, .open > .dropdown-toggle.btn-humblepage-primary-inverse {
    border-color: #3F0F3F !important;
    background-color: #fff !important;
    color:#3F0F3F !important;
}
.btn-humblepage-alternative {
    border-radius: 24px !important;
    border-color: #3F0F3F !important;
    color: #fff !important;
    background-color: #141414;
    font-weight: 700 !important;
}
.btn-humblepage-alternative:hover, .btn-humblepage-alternative:focus, .btn-humblepage-alternative:active, .btn-humblepage-alternative.active, .open > .dropdown-toggle.btn-humblepage-alternative {
    border-radius: 24px !important;
    background-color: #E34343 !important;
    border-color: #E34343 !important;
    color:#fff !important;
}

.footer {
    background-color: #141414;
    font-family: 'Titillium Web';
}

/* Overlay*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #141414;
    background-color: #141414;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    text-decoration: none;
    color: #aaa;
}

.overlay .closebtn {
    color: #fff !important;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}