{% extends 'dashboard/layout.html' %}

{% block content %}

<div class='card'>
    <div class='card-body'>
        <h5 class="font__custom--title">Welcome to Channelry</h5>
        <p class="font__custom--text">Complete a few more steps to start syncing your inventory across your channels!</p>
        <hr/>
        {% if current_user.is_confirmed %}
            <span class='font__custom--text text__feedback--success'><i class="fas fa-check-circle mr-3"></i>Email confirmed</span>
        {% else %}
            <h6 class="font__custom--title">Confirm your email address</h6>
            <div class='row font__custom--text'>
                <div class='col-lg-8'>
                    <p>Please verify your email address before connecting your sale channels</p>
                </div>
                <div class='col-lg-4'>
                    {% if session['resend'] %}
                        <div class='text__feedback--success float-lg-right'><i class="fas fa-check-circle mr-3"></i>Email verification sent!</div>
                    {% else %}
                        <a class='btn btn__custom--primary float-lg-right' href="{{ url_for('auth.resend') }}">Resend confirmation</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <hr/>
        <h6 class="font__custom--title">Upload an inventory</h6>
        <div class='row font__custom--text'>
            <div class='col-lg-8 my-auto'>
                <p>Simply create an inventory using our easy to use form</p>
            </div>
            <div class='col-lg-4'>
                <a class='btn btn__custom--primary--outline float-lg-right' href="{{ url_for('inventory.create') }}">Add inventory</a>
            </div>
        </div>
        <hr/>
        <h6 class="font__custom--title">Connect a sales channel</h6>
        <div class='row font__custom--text'>
            <div class='col-lg-8 my-auto'>
                <p>Integrate your Etsy shop to your account</p>
            </div>
            <div class='col-lg-4'>
                <a class='btn btn__custom--primary--outline float-lg-right' href='/'>Connect channel</a>
            </div>
        </div>
        <hr/>
        <h6 class="font__custom--title">Start syncing</h6>
        <div class='row font__custom--text'>
            <div class='col-lg-8 my-auto'>
                <p>Watch your inventory sync across your channels in one click</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}
