{% extends 'dashboard/layout.html' %}

{% block content %}

<div class='container container__padding--top'>
    <div class='card'>
        <div class='card-body'>
            <h5>Welcome to Channelry</h5>
            <p>Complete a few more steps to finally get started syncing your inventory across your shops!</p>
            <hr/>
            {% if current_user.is_confirmed %}
                <div>Thank you for confirming your email! </div>
            {% else %}
                <h6>Confirm your email address</h6>
                <div class='row'>
                    <div class='col-lg-8'>
                        <p>Please verify your email address before connecting your sale channels</p>
                    </div>
                    <div class='col-lg-4'>
                        {% if session['resend_confirm_email'] %}
                            <div class='text__feedback--success'><i class="fas fa-check-circle mr-3"></i>Email verification sent!</div>
                        {% else %}
                            <a class='btn btn__custom--primary float-right btn-block' href="{{ url_for('auth.resend_confirm_email') }}">Resend confirmation</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <hr/>
            <h6>Upload an inventory</h6>
            <div class='row'>
                <div class='col-lg-8 my-auto'>
                    <p>Simply create an inventory using our easy to use form</p>
                </div>
                <div class='col-lg-4'>
                    <a class='btn btn__custom--primary--outline float-right btn-block' href="{{ url_for('inventory.create') }}">Add inventory <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <hr/>
            <h6>Connect a sales channel</h6>
            <div class='row'>
                <div class='col-lg-8 my-auto'>
                    <p>Integrate your Etsy or Shopify to your account</p>
                </div>
                <div class='col-lg-4'>
                        <a class='btn btn__custom--primary--outline float-right btn-block' href='/'>Connect channel <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
