{% extends 'shared/layout.html' %}

{% block content %}

<div class='card'>
    <div class='card-body'>
        <h5 class='mb-3 mt-3'>Welcome to Channelry</h5>
        <p>Complete a few more steps to finally get started syncing your inventory across your shops!</p>
        <div>
            <hr/>
            <div class="row">
                <div class="col-lg-1 text-center"><i class="fas fa-envelope"></i></div>
                <div class="col-lg-11">
                    <div>Confirm your email address</div>
                    <div>Please verify your email address before connecting your sale channels</div>
                </div>
            </div>
        </div>
        <div>
            <hr/>
            <div class="row">
                <div class="col-lg-1 text-center"><i class="fas fa-archive"></i></div>
                <div class="col-lg-11">
                    <div>Upload an inventory</div>
                    <div>Please verify your email address before connecting your sales channels</div>
                </div>
        </div>
        <div>
            <hr/>
            <div class="row">
                <div class="col-lg-1 text-center"><i class="fas fa-dollar-sign"></i></div>
                <div class="col-lg-11">
                    <div>Connect a sale channel</div>
                    <div>Please verify your email address before connecting your sales channels</div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
