<!DOCTYPE html>
<html lang="en">
<head>
    {% include "shared/head.html" %}
</head>
<body>
    {% include "shared/nav.html" %}
    <div class='bg__content--white'>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    {% if not current_user.is_authenticated %}
        {% include "shared/footer.html" %}
    {% endif %}
    {% include "shared/scripts.html" %}
</body>
</html>