{% extends 'shared/layout.html' %}

{% block content %}


<div class='row'>
    <div class='col-lg-4'></div>
    <div class='col-lg-4'>
        <div class='card'>
            <div class='card-body'>
                <h5 class='text-center mb-3 mt-3'>Create your account now</h5>
                {% from "auth/_formhelpers.html" import render_field %}
                <form method=post>
                    {{ render_field(form.email) }}
                    {{ render_field(form.name) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.confirm_password) }}
                    <button type='submit' class='btn btn-block btn-channelry-primary'>Create your account</button>
                </form>
            </div>
        </div>
    </div>
    <div class='col-lg-4'></div>
    <div class='col-lg-4'></div>
    <div class='col-lg-4 mt-5 mb-5'>
        <div class='text-center'>
            Already have an account? <a href="{{ url_for('auth.login') }}">Sign in</a>
        </div>
    </div>
    <div class='col-lg-4'></div>
</div>


{% endblock %}
