{% macro render_field(field) %}
    <div class='form-group row'>
        {{ field.label(class_='col-md-3 col-form-label text-md-right label__text--small') }}
        <div class='col-md-6'>
            {% if field.errors %}
                {{ field(class_='form-control is-invalid', **kwargs) | safe }}
                {% for error in field.errors %}
                    <div class="invalid-feedback"><i class="fas fa-exclamation-triangle"></i> {{ error }}</div>
                {% endfor %}
            {% else %}
                <p class="mt-1">{{ field.data | safe }}</p>
                <small id="{{ field.name }}-help-block" class="form-text text-muted">{{ field.description }}</small>
            {% endif %}
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn__custom--primary--outline" data-toggle="modal" data-target="#change-{{ field.name }}-modal"">Edit</button>
        </div>
    </div>
{% endmacro %}