* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
}

html, body {
  color: #24242A !important;
}

.section-1 {
  background-image: url('../src/imgs/hoppyhistory.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: 'Oswald';
  color: #fff;
}
.section-1-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-2 {
  font-family: 'Oswald';
}

.h1-heading {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 3.25em;
  font-weight: 900;
}
.h3-heading {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 1.5em;
}
.h2-heading {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 2.5em;
}

.sitebytext {
  color: #808080;
}
.siteby {
  color: #808080;
}
.siteby:hover {
  color: #444;
  text-decoration: none;
}

.theme-link, .theme-link:hover {
  text-decoration: none !important;
}
.theme-link-inverse, .theme-link-inverse:hover {
  color: #fff;
  text-decoration: none !important;
}
.black-link {
  color: #111;
}

.brand-title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.5em;
  text-decoration: none !important;
}
.brand-title-primary, .brand-title-primary:hover {
  color: #FF7900;
}
.brand-title-inverse, .brand-title-inverse:hover {
  color: #fff;
}
.hoppyhistory, .hoppyhistory:hover {
  color: #FF7900 !important;
  text-decoration: none;
}
.dublin, .dublin:hover {
  color: #009A49 !important;
  text-decoration: none;
}
.berlin, .berlin:hover {
  color: #800000 !important;
  text-decoration: none;
}
.default, .default:hover {
  color: #fff !important;
  text-decoration: none;
}

.card-block {
  height: 20vh;
  cursor: pointer;
}

.card-block-mobile {
  height: 20vh;
  cursor: pointer;
}

.enlarge {
  cursor: pointer;
  transition: .10s, transform .10s ease;
  -moz-transition: .10s, transform .10s ease;
  -webkit-transition: .10s, transform .10s ease;
}

.enlarge:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari */
  transform: scale(1.1);
}

.footer {
    background-color: #111;
    height: 100%;
    font-family: 'Georgia';
}

.menu-bar {
  color: #FF7900;
  font-size: 30px;
}
.menu-bar:hover {
  color: #FF7900 !important;
}

.ireland-orange {
  color: #FF7900 !important;
}

.brand {
  font-weight: 900;
  font-size: 28px;
  opacity: 1;
}
.brand-link {
  text-decoration: none !important;
}

/** Simple speech bubble */

.speech-bubble {
  background: #efefef;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0 auto 40px;
  padding: 15px;
  position: relative;
}

.speech-bubble p {
  margin: 0 0 10px;
}
.speech-bubble p:last-of-type {
  margin-bottom: 0;
}

.speech-bubble::after {
  border-left: 20px solid transparent;
  border-top: 20px solid #efefef;
  bottom: -20px;
  content: "";
  position: absolute;
  right: 20px;
}

.footer-link {
  color: #24242A !important;
}
.footer-link:hover {
  text-decoration: none !important;
}

.btn {
  border-radius: 24px !important;
  font-weight: 900 !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-custom-primary {
  background-color: #FF7900 !important;
  border-color: #FF7900 !important;
  color: #fff !important;
}
.btn-custom-primary:hover, .btn-custom-primary:focus, .btn-custom-primary:active, .btn-custom-primary.active, .open > .dropdown-toggle.btn-custom-primary {
  background-color: #FF7900 !important;
  border-color: #FF7900 !important;
  color:#fff !important;
}
.btn-custom-dublin {
  background-color: #009A49 !important;
  border-color: #009A49 !important;
  color: #fff !important;
}
.btn-custom-dublin:hover, .btn-custom-dublin:focus, .btn-custom-dublin:active, .btn-custom-dublin.active, .open > .dropdown-toggle.btn-custom-dublin {
  background-color: #009A49 !important;
  border-color: #009A49 !important;
  color:#fff !important;
}
.btn-custom-berlin {
  background-color: #800000 !important;
  border-color: #800000 !important;
  color:#fff !important;
}
.btn-custom-berlin:hover, .btn-custom-berlin:focus, .btn-custom-berlin:active, .btn-custom-berlin.active, .open > .dropdown-toggle.btn-custom-berlin {
  background-color: #800000 !important;
  border-color: #800000 !important;
  color:#fff !important;
}

.main-timeline{
  font-family: 'Rubik', sans-serif;
  padding-top: 40px;
}
.main-timeline:after{
  content: '';
  display: block;
  clear: both;
}
.main-timeline .timeline{
  width: 50.5%;
  padding: 60px 0 0 0;
  margin-top: -40px;
  float: left;
  position: relative;
}
.main-timeline .timeline-content{
  color: #111;
  background-color: #efefef;
  border-radius: 0 60px 0 0;
  display: block;
  overflow: hidden;
}
.main-timeline .timeline-icon{
  color: #FF7900;
  background-color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 69px;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  border: 10px solid #FF7900;
  position: absolute;
  top: 0;
  left: 10px;
}
.main-timeline .timeline-icon:after{
  content: '';
  height: 25px;
  width: 16px;
  border-top: 20px solid #FF7900;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: -28px;
}
.main-timeline .inner-content{ padding: 15px; }
.main-timeline .title{
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0 7px 80px;
}
.main-timeline .description{
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0;
}
.main-timeline .timeline:nth-child(even){ float: right; }
.main-timeline .timeline:nth-child(even) .timeline-content{ border-radius: 60px 0 0 0; }
.main-timeline .timeline:nth-child(even) .timeline-icon{
  left: auto;
  right: 10px;
}
.main-timeline .timeline:nth-child(even) .inner-content{ padding-left: 40px;  }
.main-timeline .timeline:nth-child(even) .title{ margin: 0 50px 7px 0; }

@media only screen and (max-width:767px){
  .main-timeline{ padding-top: 10px; }
  .main-timeline .timeline{
      width: 100%;
      margin-top: -10px;
  }
  .main-timeline .inner-content{ padding: 45px 15px 25px; }
  .main-timeline .timeline:nth-child(even){ float: left; }
  .main-timeline .timeline:nth-child(even) .timeline-content{ border-radius: 0 60px 0 0; }
  .main-timeline .timeline:nth-child(even) .timeline-icon{
      left: 10px;
      right: auto;
  }
  .main-timeline .timeline:nth-child(even) .inner-content{ padding-left: 15px; }
  .main-timeline .title,
  .main-timeline .timeline:nth-child(even) .title{
      font-size: 20px;
      margin: 0 0 5px 0;
  }
}

/* Hover */
.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 90%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 700;
  font-size: 0.5em;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 90%;
}

/* Overlay*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #26262A;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  text-decoration: none;
  color: #FF7900;
}

.overlay .closebtn {
  color: #26262A !important;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}