<div class='container mb-5 mt-5'>
  <div class='row'>
    <div class='col-lg-3 mb-3'>
      <h1 class='h1-heading mb-5'>rewardp</h1>
      <div class='mb-3'>
        <a href=''><i class="fab fa-facebook icon text-muted mr-3"></i></a>
        <a href=''><i class="fab fa-twitter icon text-muted mr-3"></i></a>
        <a href=''><i class="fab fa-instagram icon text-muted mr-3"></i></a>
        <a href=''><i class="fab fa-linkedin icon text-muted mr-3"></i></a>
      </div>
      <small>Copyright @2019 Rewardp</small>
    </div>
    <div class='col-lg-1 mb-3'></div>
    <div class='col-6 col-sm-3 col-lg-2 mb-3'>
      <div class='mb-2'><b>Product</b></div>
      <div><a class='rewardp-anchor-muted' href="{% url 'rewardp:pricing' %}">Pricing</a></div>
    </div>
    <div class='col-6 col-sm-3 col-lg-2 mb-3'>
      <div class='mb-2'><b>Company</b></div>
      <div><a class='rewardp-anchor-muted' href="{% url 'rewardp:about' %}">About</a></div>
    </div>
    <div class='col-6 col-sm-3 col-lg-2 mb-3'>
      <div class='mb-2'><b>Support</b></div>
      <div><a class='rewardp-anchor-muted' href='mailto:john@rewardp.com'>Contact</a></div>
    </div>
    <div class='col-6 col-sm-3 col-lg-2 mb-3'>
      <div class='mb-2'><b>Legal</b></div>
      <div><a class='rewardp-anchor-muted' href="{% url 'rewardp:privacy' %}">Privacy</a></div>
      <div><a class='rewardp-anchor-muted' href="{% url 'rewardp:terms' %}">Terms</a></div>
    </div>
  </div>
</div>