<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class='container'>
        <a class="navbar-brand" href="/">
            <span class='logo-text'>wxbsite</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-alt-markup" aria-controls="navbar-nav-alt-markup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav-alt-markup">
            {% if not user.is_authenticated %}
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link nav-link-center" href="{% url 'wxbsite:about' %}"><b>About</b></a></li>
                    <li class="nav-item"><a class="nav-link nav-link-center" href="{% url 'wxbsite:pricing' %}"><b>Pricing</b></a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-item btn btn-wxbsite-primary mr-3 mb-1" href="{% url 'wxbsite:signup' %}">Get started</a></li>
                    <li class="nav-item"><a class="nav-item btn btn-wxbsite-primary-outline" href="{% url 'wxbsite:login' %}">Login</a></li>
                </ul>
            {% else %}
                <ul class="navbar-nav ml-auto"></ul>
                <ul class="navbar-nav">
                    <div class="dropdown mb-1">
                        <button type="button" class="btn btn-wxbsite-primary dropdown-toggle" data-toggle="dropdown">{{ user.username }}</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'wxbsite:dashboard' %}">Dashboard</a>
                            <div class="dropdown-divider"></div>
                            <span class="dropdown-item dropdown-item-text text-muted text-center">{{ user.get_full_name }}</span>
                            <a class="dropdown-item" href="{% url 'wxbsite:logout' %}">Logout</a>
                        </div>
                    </div>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>