<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 25px;">
    <div class='container'>
        <a class="navbar-brand" href="/">
            <span class='logo-text'>pxdcast</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-alt-markup" aria-controls="navbar-nav-alt-markup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav-alt-markup">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                {% if not user.is_authenticated %}
                    <li class="nav-item"><a class="nav-item btn btn-pxdcast-primary mr-3 mb-1" href="{% url 'pxdcast:signup' %}">Get started</a></li>
                    <li class="nav-item"><a class="nav-item btn btn-pxdcast-primary-outline" href="{% url 'pxdcast:login' %}">Login</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-item nav-link" href="{% url 'pxdcast:logout' %}">Account</a></li>
                    <li class="nav-item"><a class="nav-item nav-link" href="{% url 'pxdcast:logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>