{% extends 'shared/layout.html' %}
{% load static %}

{% block content %}


<div class='row'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
        <div class='card'>
            <div class='card-body'>
                <h2 class='h2-heading text-center mb-3 mt-3'>Reset your password</h2>
                <p>An email is on its way to you. Follow the instructions to reset your password.</p>
                <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}
