<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class='container'>
        <a class="navbar-brand" href="/">
            <span class='logo-text'>channelry</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-alt-markup" aria-controls="navbar-nav-alt-markup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav-alt-markup">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link nav-link-center" href="/about"><b>About</b></a></li>
                <li class="nav-item"><a class="nav-link nav-link-center" href="/pricing"><b>Pricing</b></a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-item btn btn-channelry-primary mr-3 mb-1" href="/signup">Get started</a></li>
                <li class="nav-item"><a class="nav-item btn btn-channelry-primary-outline" href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>