1,Stripe,Payment processing,$785 M,San Francisco California,2000,Patrick Collison
2,Snowflake,Cloud data warehouse,$920 M,San Mateo California,1400,Frank Slootman
3,UiPath,Robotic process automation,$1100 M,New York New York,3200,Daniel Dines
4,HashiCorp,Cloud infrastructure automation,$174 M,San Francisco California,600,David McJannet
5,Datadog,Data monitoring and analytics,$148 M,New York New York,1200,Olivier Pomel
6,Procore,Construction management,$250 M,Carpinteria California,1800,Tooey Courtemanche
7,Tanium,Endpoint device cybersecurity,$800 M,Emeryville California,1200,Orion Hindawi Fazal Merchant
8,InVision,Design software,$350 M,New York New York,840,Clark Valberg
9,Rubrik,Data management,$553 M,Palo Alto California,1600,Bipul Sinha
10,Confluent,Data streaming platform,$206 M,Palo Alto California,500,Jay Kreps
11,Cloudflare,Website infrastructure and security,$404 M,San Francisco California,1000,Matthew Prince
12,Toast,Restaurant software,$496 M,Boston Massachusetts,2000,Chris Comparato
13,Databricks,Data analytics,$499 M,San Francisco California,800,Ali Ghodsi
14,ServiceTitan,Home servicing software,$326 M,Glendale California,702,Ara Mahdessian
15,Mailchimp,Marketing platform,,Atlanta Georgia,1000,Ben Chestnut
16,Canva,Design software,$140 M,Sydney Australia,650,Melanie Perkins
17,Plaid,Financial infrastructure,$310 M,San Francisco California,390,Zach Perret
18,Gusto,HR payroll and benefits,$516 M,San Francisco California,1000,Josh Reeves
19,TripActions,Business travel management,$480 M,Palo Alto California,800,Ariel Cohen
20,nCino,Cloud banking infrastructure,$150 M,Wilmington North Carolina,750,Pierre Naudé
21,Squarespace,Website builder,$279 M,New York New York,1000,Anthony Casalena
22,Intercom,Business messaging,$241 M,San Francisco California,600,Eoghan McCabe
23,Segment,Data infrastructure,$284 M,San Francisco California,440,Peter Reinhardt
24,Vlocity,Verticalized customer relationship management,$163 M,San Francisco California,800,David Schmaier
25,Illumio,Cybersecurity,$333 M,Sunnyvale California,325,Andrew Rubin
26,Darktrace,Cybersecurity,$177 M,San Francisco California,1000,Nicole Eagan Poppy Gustafsson
27,Veeam,Data management,$532 M,Baar Switzerland,3700,Andrei Baronov
28,Sprinklr,Customer experience management,$239 M,New York New York,1500,Ragy Thomas
29,Automation Anywhere,Robotic process automation,$550 M,San Jose California,1750,Mihir Shukla
30,Yardi,Investment and property management,,Santa Barbara California,6650,Anant Yardi
31,WalkMe,Digital adoption platform,$218 M,San Francisco California,787,Dan Adika
32,GitLab,DevOps,$158 M,Fully Remote,844,Sid Sijbrandij
33,Zapier,Web application integrator,$1 M,Fully remote,250,Wade Foster
34,Lookout,Cybersecurity,$280 M,San Francisco California,300,Jim Dolce
35,Airtable,Software creation,$170 M,San Francisco California,150,Howie Liu
36,Sisense,Business analytics,$250 M,New York New York,700,Amir Orad
37,AvidXchange,Billing software,$581 M,Charlotte North Carolina,1257,Michael Praeger
38,JFrog,DevOps,$227 M,Sunnyvale California,450,Shlomi Ben Haim
39,Auth0,Identity management,$210 M,Bellevue Washington,500,Eugenio Pace
40,Freshworks,Customer engagement,$250 M,San Mateo California,2000,Girish Mathrubootham
41,Asana,Work collaboration,$213 M,San Francisco California,580,Dustin Moskovitz
42,Turbonomic,Application resource management,$150 M,Boston Massachusetts,500,Benjamin Nye
43,KeepTruckin,Fleet management,$227 M,San Francisco California,1350,Shoaib Makani
44,Carta,Asset management,$448 M,San Francisco California,600,Henry Ward
45,Uptake,Industrial AI,$258 M,Chicago Illinois,500,Brad Keywell
46,DigitalOcean,Cloud infrastructure,$123 M,New York New York,500,Yancey Spruill
47,AppDirect,Subscription commerce platform,$320 M,San Francisco California,700,Dan Saks Nicolas Desmarais
48,DataStax,Cloud infrastructure,$190 M,Santa Clara California,600,Billy Bosworth
49,Pindrop,Voice-based security,$207 M,Atlanta Georgia,300,Vijay Balasubramaniyan
50,monday.com,Team management,$234 M,Tel Aviv Israel,285,Roy Mann
51,Acquia,Digital experience platform,$194 M,Boston Massachusetts,950,Michael Sullivan
52,Automattic,Publishing and ecommerce tools,$317 M,Fully Remote,939,Matt Mullenweg
53,Welltok,Healthcare consumer activation,$250 M,Denver Colorado,424,Jeff Margolis
54,Collibra,Data intelligence,$233 M,New York New York,500,Felix Van de Maele
55,Dataminr,Real time alerts,$577 M,New York New York,500,Ted Bailey
56,Checkr,AI-powered background checks,$150 M,San Francisco California,400,Daniel Yanisse
57,AppsFlyer,Data analytics,$83 M,San Francisco California,744,Oren Kaniel
58,Gainsight,Customer success management,$156 M,San Francisco California,660,Nick Mehta
59,ThoughtSpot,Business intelligence,$554 M,Sunnyvale California,460,Sudheesh Nair
60,Seismic,Sales enablement,$179 M,San Diego California,550,Doug Winter
61,Onshape,Design software,$169 M,Cambridge Massachusetts,101,Jon Hirschtick
62,PointClickCare,Cloud-based electronic health records,$85 M,Mississauga Canada,1500,Mike Wessinger
63,OneTrust,Privacy management,$200 M,Atlanta Georgia,1000,Kabir Barday
64,Netskope,Cybersecurity,$400 M,Santa Clara California,890,Sanjay Beri
65,C3.ai,AI and IoT software,$387 M,Redwood City California,362,Tom Siebel
66,Talkdesk,Cloud contact centers,$125 M,San Francisco California,700,Tiago Paiva
67,Samsara,Industrial IoT,$230 M,San Francisco California,1300,Sanjit Biswas
68,American Well,Telehealth software,$486 M,Boston Massachusetts,700,Ido Schoenberg Roy Schoenberg
69,SMS Assist,Multisite property management,$265 M,Chicago Illinois,967,Marc Shiffman
70,Grand Rounds,Healthcare software,$169 M,San Francisco California,568,Owen Tripp
71,Fuze,Enterprise communications,$485 M,Boston Massachusetts,741,Colin Doherty
72,Exabeam,Cybersecurity,$190 M,San Mateo California,414,Nir Polak
73,Braze,Messaging platform,$175 M,New York New York,383,Bill Magnuson
74,Celonis,Process automation,$78 M,New York New York,700,Alexander Rinke Bastian Nominacher
75,Sitecore,Web content management,,San Francisco California,1300,Mark Frost
76,Workfront,Work management,$91 M,Lehi Utah,1007,Alex Shootman
77,Pipedrive,Customer relationship management,$90 M,New York New York,550,Timo Rein
78,Sumo Logic,Data analytics,$345 M,Redwood City California,500,Ramin Sayar
79,Cloudinary,Image and video software,,Santa Clara California,200,Itai Lahan
80,Klaviyo,Marketing platform,$159 M,Boston Massachusetts,250,Andrew Bialecki
81,Riskified,Ecommerce software,$64 M,New York New York,410,Eido Gal
82,Blend,Lending software,$310 M,San Francisco California,400,Nima Ghamsari
83,Cohesity,Data management,$410 M,San Jose California,1160,Mohit Aron
84,Zoho,Web-based office suite,,Austin Texas,7000,Sridhar Vembu
85,Icertis,Contract management,$211 M,Bellevue Washington,800,Samir Bodas
86,Guild Education,Education software,$72 M,Denver Colorado,310,Rachel Carlson
87,Outreach,Sales engagement software,$239 M,Seattle Washington,350,Manny Medina
88,BambooHR,Human resources software,,Lindon Utah,477,Ben Peterson
89,Amplitude,Product intelligence platform,$140 M,San Francisco California,273,Spenser Skates
90,VTS,Real estate software,$197 M,New York New York,196,Nick Romito
91,Delphix,DataOps,$120 M,Redwood City California,400,Chris Cook
92,Dialpad,Business communications,$120 M,San Francisco California,470,Craig Walker
93,CloudBees,DevOps,$121 M,San Jose California,500,Sacha Labourey
94,Yotpo,Ecommerce marketing,$101 M,New York New York,350,Tomer Tagrin
95,Pendo,User insight and communication,$106 M,Raleigh North Carolina,362,Todd Olson
96,Dataiku,Data science platform,$147 M,New York New York,350,Florian Douetteau
97,Weave,Business communications,$83 M,Lehi Utah,500,Brandon Rodman
98,Ionic Security,Data protection,$187 M,Atlanta Georgia,100,Eric Hinkle
99,Mixpanel,Data analytics,$77 M,San Francisco California,387,Amir Movafaghi
100,Dashlane,Identity management,$210 M,New York New York,200,Emmanuel Schalit
