{% extends 'dashboard/layout.html' %}
{% from "form/horizontal.html" import render_field %}
{% block content %}

<div class='row mt-5'>
    <div class='col-lg-2'></div>
    <div class='col-lg-8 mb-3'>
        <div class='card mb-5'>
            <div class='card-body'>
                <h3 class='font__custom--title text-center mb-3'><b>{{ number }}</b></h3>
                {% for chat in chats %}
                    <div>{{ chat.body }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class='col-lg-2'></div>
</div>


{% endblock %}
