{% extends 'dashboard/layout.html' %}
{% from "form/horizontal.html" import render_field %}
{% block content %}


<h3 class='font__custom--title text-center mt-5 mb-3'><b>{{ number }}</b></h3>

<div class='overflow-chats mb-3'>
    {% for chat in chats %}
        <div>{{ chat.body }}</div>
    {% endfor %}
</div>


<div>
    <form method=post>
        {{ form.csrf_token }}
        <div class='row mb-3'>
            <div class='col-md-10 mb-3'>
                {{ form.message(class_='form-control form-control-message', placeholder='Type a message') }}
            </div>
            <div class="col-md-2 mb-3 my-auto">
                <button type='submit' class='btn btn-primary btn-block'>Send</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}
