{% extends 'dashboard/layout.html' %}
{% from "form/horizontal.html" import render_field %}
{% block content %}

<div class='row'>
    <div class='col-lg-2'></div>
    <div class='col-lg-8 mb-3'>
        <form method=post>
            {{ form.csrf_token }}
            <div class='card mb-5'>
                <div class='card-body'>
                    <h3 class='font__custom--title mb-3'>Add inventory</h3>
                    {{ render_field(form.product) }}
                    {{ render_field(form.sku) }}
                    {{ render_field(form.price) }}
                    {{ render_field(form.available) }}
                    {{ render_field(form.when_sold) }}
                    {{ render_field(form.is_active) }}
                    <a href="{{ url_for('dashboard.index') }}" class='btn btn__custom--primary--outline float-lg-left'>Cancel</a>
                    <button type='submit' class='btn btn__custom--primary float-lg-right'>Save</button>
                </div>
            </div>
        </form>
    </div>
    <div class='col-lg-2'></div>
</div>


{% endblock %}
