{% extends 'dashboard/layout.html' %}

{% block content %}

<div class='card'>
    <div class='card-body'>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Channels</th>
                    <th scope="col">SKU</th>
                    <th scope="col">Renewal</th>
                    <th scope="col">When sold...</th>
                    <th scope="col">Available</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td scope="row">
                        <img src='https://placeholder.pics/svg/20' class='img-fluid'>
                        {{ product.title }}
                    </td>
                    <td>{{ product.inventory.channels | length }}</td>
                    <td>{{ product.inventory.sku }}</td>
                    <td>{{ product.inventory.when_sold }}</td>
                    <td>{{ product.inventory.incoming }}</td>
                    <td>{{ product.inventory.quantity }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
