{% extends 'dashboard/layout.html' %}
{% from "form/horizontal.html" import render_field %}
{% block content %}

<div class="modal" id="edit-inventory-modal" tabindex="-1" role="dialog" aria-labelledby="edit-inventory-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-inventory-modal-title">Add a SKU</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form method="post">
                {{ form.csrf_token }}
                <div class="modal-body mt-3">
                    {{ render_field(form.sku) }}
                    {{ render_field(form.price) }}
                    {{ render_field(form.available) }}
                    {{ render_field(form.incoming) }}
                    {{ render_field(form.when_sold) }}
                    {{ render_field(form.is_active) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn__custom--primary--outline" data-dismiss="modal">Cancel</button>
                    <input class="btn btn__custom--primary" name="submit" type="submit" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-lg-2'></div>
    <div class='col-lg-8 mb-3'>
        <div class='card mb-5'>
            <div class='card-body'>
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class='font__custom--title mb-3 float-left'>Details</h3>
                        <a href="#" class="btn btn__custom--primary float-right" data-toggle="modal" data-target="#edit-inventory-modal"><i class="fas fa-edit mr-2"></i>Edit</a>
                    </div>
                </div>
                <div class="row">
                    <h6 class='col-lg-3 font__custom--title text-lg-right' style="padding-top: 3px;">Product</h6>
                    <a class="col-lg-9 anchor__custom--default mb-3" href="{{ url_for('product.retrieve', unique_id=product.unique_id) }}">{{ product.title }}</a>
                    <h6 class='col-lg-3 font__custom--title text-lg-right' style="padding-top: 3px;">SKU</h6>
                    <p class="col-lg-9 font__custom--text">{{ inventory.sku }}</p>
                    <h6 class='col-lg-3 font__custom--title text-lg-right' style="padding-top: 3px;">Price</h6>
                    <p class="col-lg-9 font__custom--text">{{ inventory.price }}</p>
                    <h6 class='col-lg-3 font__custom--title text-lg-right' style="padding-top: 3px;">Available</h6>
                    <p class="col-lg-9 font__custom--text">{{ inventory.available }}</p>
                    <h6 class='col-lg-3 font__custom--title text-lg-right' style="padding-top: 3px;">Incoming</h6>
                    <p class="col-lg-9 font__custom--text">{{ inventory.incoming }}</p>
                    <h6 class='col-lg-3 font__custom--title text-lg-right' style="padding-top: 3px;">When sold...</h6>
                    <p class="col-lg-9 font__custom--text">{{ inventory.when_sold }}</p>
                    <h6 class='col-lg-3 font__custom--title text-lg-right' style="padding-top: 3px;">Active</h6>
                    <p class="col-lg-9 font__custom--text">
                        {% if inventory.is_active %}<i class="fas fa-check-circle"></i>{% else %}<i class="fas fa-times-circle"></i>{% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class='col-lg-2'></div>
</div>

{% endblock %}
