{% extends 'dashboard/layout.html' %}
{% block content %}

<div class="row mt-5">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h3 class="mb-3"><b>Welcome to your Sidefone</b></h3>
                <p>We've outlined a few steps to get you started.</p>
                <hr/>
                <div><i class="fas fa-chevron-right mr-3"></i> Setup your <a href="#">Twilio</a> or <a href="#">Telnyx</a> account</div>
                <hr/>
                <div><i class="fas fa-chevron-right mr-3"></i> Message someone</div>
                <hr/>
                <div><i class="fas fa-chevron-right mr-3"></i> Call someone</div>
                <hr/>
                <div><i class="fas fa-chevron-right mr-3"></i> Video chat with someone</div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>


{% endblock %}
