<!DOCTYPE html>
<html lang="en">
<head>
    {% include "shared/head.html" %} 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/merchant.css') }}"/>
</head>
<body>
    {% include "shared/messages.html" %}
    <div class="d-flex" id="wrapper">
        {% include 'dashboard/sidebar.html' %}

        <div id="page-content-wrapper">
            {% include 'dashboard/navbar.html' %}

            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% include "shared/scripts.html" %}
</body>
</html>