<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" id="navbar">
    {% include "shared/brand.html" %}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{ url_for('static', filename='img/') }}{{ current_phone.platform }}.png" class="platform-icon mr-3"> {{ current_phone.number }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#"><i class="fas fa-plus-circle mr-3"></i>  New number</a>
                    <div class="dropdown-divider"></div>
                    {% for phone in phones %}
                        {% if phone.number != current_phone.number %}
                            <a class="dropdown-item" href="#"><img src="{{ url_for('static', filename='img/') }}{{ phone.platform }}.png" class="platform-icon mr-3"> {{ phone.number }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
            {% for number, chats in contacts.items() %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('sms.get_chats', number=number) }}"><img src="https://home.iitm.ac.in/mvp/img/team/default.jpg" height="20" width="20" class="mr-3" style="border-radius: 50%"> {{ number }} <span class="sr-only">(current)</span></a></li>
            {% endfor %}
        </ul>
    </div>
</nav>