:root {
    —-space: 1.5em 0;
    —-space: 2em 0;
}

.Site {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.Site-content {
   flex: 1 0 auto;
   padding: var( — space) var( — space) 0;
   width: 100%;
}
.Site-content:after {
   content: ‘\00a0’;
   display: block;
   margin-top: var( — space);
   height: 0;
   visibility: hidden;
}

.logo {
    height: 50px;
    width: 50px;
}

.brand-title {
    font-family: 'Montserrat';
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 1.125em;
    color: #fff !important;
    cursor: pointer;
    text-decoration: none !important;
}

.main-text {
    color: #666 !important;
}
.invert-text {
    color: #fff !important;
}
.main-title {
    color: #009e60 !important;
}
.invert-title {
    color: #fff;
}

.main-bg {
    background-color: #fff;
}
.invert-bg {
    background-color: #009e60;
}

.nav-item:hover {
    text-decoration: none !important;
}
.nav-link {
    color: #fff;
    font-weight: 400;
}
.nav-link:hover {
    color: #fff;
}
.nav-item-style {
    padding-top: 5px !important;
}

.h1-title {
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 400;
    font-size: 3.25em;
}
.h1-title-mobile {
    font-size: 7.5vw !important;
}
.h2-title {
    font-family: 'Titillium Web';
    font-weight: 400;
    font-size: 2.75em;
}
.h2-title-mobile {
    font-size: 7.5vw !important;
}
.h3-title {
    font-family: 'Titillium Web';
    font-weight: 700;
    font-size: 1.75em;
    text-transform: uppercase;
    color: #009e60;
}

.p-title {
    text-transform: uppercase;
    font-family: 'Titillium Web';
    font-size: 1em;
    color: #009e60;
}
.p-subtitle, .p-subtitle:hover {
    font-family: 'Titillium Web';
    font-size: 1em;
    text-decoration: none !important;
}
.p-content {
    font-family: 'Titillium Web' !important;
}

.title-sub {
    color: #009e60;
}

.form-control {
    font-family: 'Titillium Web';
    color: #969696 !important;
}

.section-work {
    background-color: #fff;
}

.overlay-link {
    font-family: 'Titillium Web';
    font-weight: 400;
}

.theme-link, .theme-link:hover {
    text-decoration: none;
    font-weight: 400;
    color: #969696;
}

.fa-twitter {
  color: #009e60 !important;
}
.fa-twitter:hover {
  color: green !important;
}

.btn {
    border-radius: 25px !important;
}

.btn {
    font-family: 'Titillium Web';
    font-weight: 700 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-leprechaundesign-primary {
    border: 1px solid #fff !important;
    color: #fff;
}
.btn-leprechaundesign-primary:hover, .btn-leprechaundesign-primary:focus, .btn-leprechaundesign-primary:active, .btn-leprechaundesign-primary.active, .open > .dropdown-toggle.btn-leprechaundesign-primary {
    background-color: #fff;
    border-color: #fff;
    color: #009e60;
}
.btn-leprechaundesign-alternative {
    border: 1px solid #009e60 !important;
    color: #009e60;
}
.btn-leprechaundesign-alternative:hover, .btn-leprechaundesign-alternative:focus, .btn-leprechaundesign-alternative:active, .btn-leprechaundesign-alternative.active, .open > .dropdown-toggle.btn-leprechaundesign-alternative {
    background-color: #009e60;
    color: #fff;
}

.fa-instagram, .fa-twitter, .fa-facebook {
    cursor: pointer;
    color: #fff;
}
.fa-instagram:hover, .fa-twitter:hover, .fa-facebook:hover {
    color: gainsboro;
}

.footer {
    font-family: 'Titillium Web';
}
.footer-title {
    font-weight: 700;
    text-transform: uppercase;
}
.footer-text-color, .footer-text-color:hover {
    color: #808080;
}

/* Overlay*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    text-decoration: none;
    color: #009e60;
}

.overlay .closebtn {
    cursor: pointer;
    color: #000 !important;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
