* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
}

html, body {
}

.section-1 {
  background-image: url('../src/imgs/stock1.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Oswald';
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card-block {
  height: 20vh;
  cursor: pointer;
}

.card-block-mobile {
  height: 20vh;
  cursor: pointer;
}

.enlarge {
  transition: .10s, transform .10s ease;
  -moz-transition: .10s, transform .10s ease;
  -webkit-transition: .10s, transform .10s ease;
}

.enlarge:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari */
  transform: scale(1.1);
}

.footer {
    background-color: #111;
}

.white-color {
  color: #fff !important;
}

.nav-link:hover {
  color: #009A49 !important;
}

.brand {
  font-size: 30px;
  color: #fff;
  opacity: 1;
}
.brand-link {
  text-decoration: none !important;
}

.h3-heading {
  font-weight: 700;
  font-family: 'Ubuntu';
}

.btn {
  border-radius: 24px !important;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-custom-primary {
  background-color: #009A49 !important;
  border-color: #009A49 !important;
  color: #fff !important;
}
.btn-custom-primary:hover, .btn-custom-primary:focus, .btn-custom-primary:active, .btn-custom-primary.active, .open > .dropdown-toggle.btn-custom-primary {
  background-color: #009A49 !important;
  border-color: #009A49 !important;
  color:#fff !important;
}
.btn-custom-alternative {
  background-color: #FF7900 !important;
  border-color: #FF7900 !important;
  color: #fff !important;
}
.btn-custom-alternative:hover, .btn-custom-alternative:focus, .btn-custom-alternative:active, .btn-custom-alternative.active, .open > .dropdown-toggle.btn-custom-alternative {
  background-color: #FF7900 !important;
  border-color: #FF7900 !important;
  color:#fff !important;
}
.btn-custom-alternative-inverse {
  background-color: #FF7900 !important;
  border-color: #FF7900 !important;
  color:#fff !important;
}
.btn-custom-alternative-inverse:hover, .btn-custom-alternative-inverse:focus, .btn-custom-alternative-inverse:active, .btn-custom-alternative-inverse.active, .open > .dropdown-toggle.btn-custom-alternative-inverse {
  background-color: #FF7900 !important;
  border-color: #FF7900 !important;
  color:#fff !important;
}

/* Hover */
.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 90%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 700;
  font-size: 0.62em;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 90%;
}