{% extends 'shared/layout.html' %}
{% load static %}

{% block content %}


<div class='row'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
        <div class='card'>
            <div class='card-body'>
                <h2 class='h2-heading text-center mb-3 mt-3'>Reset your password</h2>
                {% if validlink %}

                <p>Enter a new password to reset the password on your account</p>
                <form method='post'>
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        <div style='color: red' class='mb-3'>{{ error }}</div>
                    {% endfor %}
                    {% for field in form %}
                        <fieldset class='form-group'>
                            <label class='control-label' for='id_{{ field.name }}'><small>{{ field.label }}</small></label>
                            <input type='{{ field.field.widget.input_type }}' class='form-control' name='{{ field.name }}' id='id_{{ field.name }}'  value="{{ field.value | default_if_none:'' }}">
                            {% if field.errors.count > 1 %}
                                {% for error in field.errors %}
                                    <ul>
                                        <li style="color: red">{{ error }}</li>
                                    </ul>
                                {% endfor %}
                            {% else %}
                                <span style='color: red'>{{ field.errors.0 }}</span>
                            {% endif %}
                        </fieldset>
                    {% endfor %}
                    <button type='submit' class='btn btn-block btn-wxbsite-primary mb-3'>Set new password</button>
                </form>

                {% else %}

                <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                </p>

                {% endif %}
            </div>
        </div>
    </div>
    <div class='col-lg-3'></div>
</div>


{% endblock %}
