<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class='container'>
        <a class="navbar-brand" href="/">
            <span class='logo-text'>channelry</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-alt-markup" aria-controls="navbar-nav-alt-markup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav-alt-markup">
            {% if current_user.is_authenticated %}
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link nav-link-center" href="{{ url_for('home.about') }}"><b>Inventory</b></a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-item btn btn-channelry-primary mr-3 mb-1" href="{{ url_for('account.render_signup') }}">{{ current_user.email }}</a></li>
                    <li class="nav-item"><a class="nav-item btn btn-channelry-primary-outline" href="{{ url_for('account.logout') }}">Logout</a></li>
                </ul>
            {% else %}
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link nav-link-center" href="{{ url_for('home.about') }}"><b>About</b></a></li>
                    <li class="nav-item"><a class="nav-link nav-link-center" href="{{ url_for('home.pricing') }}"><b>Pricing</b></a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-item btn btn-channelry-primary mr-3 mb-1" href="{{ url_for('account.render_signup') }}">Get started</a></li>
                    <li class="nav-item"><a class="nav-item btn btn-channelry-primary-outline" href="{{ url_for('account.render_login') }}">Login</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>