{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class='container container__padding--top'>
            {% for category, message in messages %}
                <div class='text__feedback--{{ category }} text-center'>
                    {% if category == 'danger' %}
                        <i class="fas fa-exclamation-triangle"></i>
                    {% elif category == 'success' %}
                        <i class="fas fa-check-circle"></i>
                    {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}