<nav class="navbar navbar-expand-lg navbar-light bg__layout--white">
    <div class='container'>
        <a class="navbar-brand" href="/"><span class='header__logo'>channelry</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-alt-markup" aria-controls="navbar-nav-alt-markup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav-alt-markup">
            {% if current_user.is_authenticated %}
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link nav-link-center" href="{{ url_for('home.about') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link nav-link-center" href="{{ url_for('home.about') }}">Inventory</a></li>
                    <li class="nav-item"><a class="nav-link nav-link-center" href="{{ url_for('home.about') }}">Listings</a></li>
                    <li class="nav-item"><a class="nav-link nav-link-center" href="{{ url_for('home.about') }}">Channels</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                          <div class="dropdown">
                              <i class="dropdown-toggle fas fa-user-circle fontawesome__usercircle--nav" data-toggle="dropdown"></i>
                              <div class="dropdown-menu dropdown-menu-right">
                                  <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Settings</a>
                                  <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Billing</a>
                                  <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
                              </div>
                          </div>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link nav-link-center" href="{{ url_for('home.about') }}">About</a></li>
                    <li class="nav-item"><a class="nav-link nav-link-center" href="{{ url_for('home.about') }}">Blogs</a></li>
                    <li class="nav-item"><a class="nav-link nav-link-center" href="{{ url_for('home.pricing') }}">Pricing</a></li>
                </ul>
                <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link nav-link-center mt-1 mr-3" href="{{ url_for('auth.login') }}">Sign in</a></li>
                    <li class="nav-item"><a class="nav-item btn btn__custom--primary custom__text--Uppercase" href="{{ url_for('auth.signup') }}">Get started</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>