{% extends 'dashboard/layout.html' %}
{% block content %}

<div class="d-flex" id="wrapper">
    {% include 'dashboard/sidebar.html' %}

    <div id="page-content-wrapper">
        {% include 'dashboard/navbar.html' %}

        <div class="container">
            <h3 class="mb-3 mt-3">Welcome to your Sidefone</h3>
            <p>We've outlined a few steps to get you started.</p>
            <ul class="list-group">
                <li class="list-group-item"><i class="fas fa-chevron-right mr-3"></i> Setup your Telnyx account</li>
                <li class="list-group-item"><i class="fas fa-chevron-right mr-3"></i> Message someone</li>
                <li class="list-group-item"><i class="fas fa-chevron-right mr-3"></i> Call someone</li>
                <li class="list-group-item"><i class="fas fa-chevron-right mr-3"></i> Video chat with someone</li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}
