<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading dropdown">
        <span class="dropdown-toggle sidebar-dropdown" id="sidebarNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ url_for('static', filename='img/') }}{{ phones[0].platform }}.png" class="platform-icon mr-3">  {{ phones[0].number }}
        </span>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sidebarNavbarDropdown">
            {% for phone in phones %}
                <a class="dropdown-item" href="#"><img src="{{ url_for('static', filename='img/') }}{{ phones[0].platform }}.png" class="platform-icon mr-3"> {{ phone.number }}</a>
            {% endfor %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fas fa-plus-circle mr-3"></i> New number</a>
        </div>
    </div>
    <div class="list-group list-group-flush">
        <a href="{{ url_for('dashboard.index') }}" class="list-group-item list-group-item-action bg-light"><i class="fas fa-home mr-3"></i> Home</a>
        <a href="{{ url_for('sms.index') }}" class="list-group-item list-group-item-action bg-light"><i class="fas fa-sms mr-3"></i> SMS</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-phone-alt mr-3"></i> Call</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-video mr-3"></i> Video</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-cog mr-3"></i> Settings</a>
    </div>
</div>