<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading dropdown">
        <span class="dropdown-toggle sidebar-dropdown" id="sidebarNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ url_for('static', filename='img/') }}{{ phones[0].platform }}.png" class="platform-icon mr-3">  {{ phones[0].number }}
        </span>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sidebarNavbarDropdown">
            {% for phone in phones %}
                <a class="dropdown-item" href="#"><img src="{{ url_for('static', filename='img/') }}{{ phones[0].platform }}.png" class="platform-icon mr-3"> {{ phone.number }}</a>
            {% endfor %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fas fa-cog mr-3"></i> Settings</a>
            <a class="dropdown-item" href="#"><i class="fas fa-plus-circle mr-3"></i> New number</a>
        </div>
    </div>
    <div class="list-group list-group-flush">
        <a href="{{ url_for('sms.index') }}" class="list-group-item list-group-item-action bg-light"><i class="fas fa-plus-circle mr-4"></i> Add contact</a>
        <a href="{{ url_for('sms.index') }}" class="list-group-item list-group-item-action bg-light"><img src="https://www.aceshowbiz.com/images/photo/lebron_james.jpg" class="mr-3" height="25" width="25" style="border-radius: 25px;"> Lebron James</a>
        <a href="{{ url_for('sms.index') }}" class="list-group-item list-group-item-action bg-light"><img src="https://www.proballers.com/ul/player/33001-1-5d0594e2e0a601.jpg" class="mr-3" height="25" width="25" style="border-radius: 25px;"> Stephen Curry</a>
    </div>
</div>