<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading dropdown">
        <span class="dropdown-toggle sidebar-dropdown" id="sidebarNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ url_for('static', filename='img/') }}{{ phones[0].platform }}.png" class="platform-icon mr-3">  {{ phones[0].number }}
        </span>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sidebarNavbarDropdown">
            {% for phone in phones %}
                <a class="dropdown-item" href="#"><img src="{{ url_for('static', filename='img/') }}{{ phones[0].platform }}.png" class="platform-icon mr-3"> {{ phone.number }}</a>
            {% endfor %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fas fa-cog mr-3"></i> Settings</a>
            <a class="dropdown-item" href="{{ url_for('number.add') }}"><i class="fas fa-plus-circle mr-3"></i> New number</a>
        </div>
    </div>
    <div class="list-group list-group-flush">
        <a href="{{ url_for('sms.create') }}" class="list-group-item list-group-item-action bg-light"><i class="fas fa-plus-circle mr-3"></i> Create SMS</a>
        {% for number, chats in contacts.items() %}
            <a href="{{ url_for('sms.get_chats', number=number) }}" class="list-group-item list-group-item-action bg-light">
                <div class="row">
                    <div class="col-2">
                        <img src="https://home.iitm.ac.in/mvp/img/team/default.jpg" class="img-fluid" style="border-radius: 50%">
                    </div>
                    <div class="col-10">
                        {{ number }} <small class="float-right">{{ chats.last_message_date_sent | datetime }}</small>
                        <div>{{ chats.last_message }}</div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>