{% extends 'shared/layout.html' %}

{% block content %}


<div class='container container__padding'>
    <h2 class="font__custom--title">Page not found!</h2>
    <p class="font__custom--text paragraph__text--medium">Sorry, but the page you were looking for could not be found.</p>
    <p class="font__custom--text">
        You can <a class="anchor__custom--default" href="{{ url_for('home.index') }}">return to your home page</a>,
        or <a class="anchor__custom--default" href="mailto:john@hapload.com">drop us a line</a> if you can't find what you're looking for.
    </p>
</div>

{% endblock %}
