<nav class="navbar navbar-expand-lg navbar-light">
    <div class='container mb-2 mt-2'>
        {% include 'shared/brand.html' %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-alt-markup" aria-controls="navbar-nav-alt-markup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav-alt-markup">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item {% if request.url_rule.rule == '/merchant' %} active {% endif %}"><a class="nav-link nav__navlink--center" href="{{ url_for('merchant.index') }}"><i class='fas fa-home'></i> Home</a></li>
                <li class="nav-item {% if request.blueprint == 'product' %} active {% endif %}"><a class="nav-link nav__navlink--center" href="{{ url_for('product.index') }}"><i class='fas fa-store'></i> Shop</a></li>
                <li class="nav-item {% if request.blueprint == 'inventory' %} active {% endif %}"><a class="nav-link nav__navlink--center" href="{{ url_for('inventory.index') }}"><i class='fas fa-truck'></i> Orders</a></li>
                <li class="nav-item {% if request.blueprint == 'product' %} active {% endif %}"><a class="nav-link nav__navlink--center" href="{{ url_for('product.index') }}"><i class='fas fa-cubes'></i> Products</a></li>
                <li class="nav-item {% if request.blueprint == 'product' %} active {% endif %}"><a class="nav-link nav__navlink--center" href="{{ url_for('product.index') }}"><i class='fas fa-users'></i> Customers</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item mr-3"><a class="nav-link nav__navlink--center"><i class="fas fa-bell nav__usercircle--light"></i></a></li>
                <li class="nav-item mr-3"><a class="nav-link nav__navlink--center" href="mailto:john@sedison.com"><i class="fas fa-question-circle nav__usercircle--light"></i></a></li>
                <li class="nav-item mt-2">
                    <div class="dropdown">
                        <i class="far fa-user-circle nav__usercircle--{% if request.blueprint == 'profile'%}theme{%else%}light{%endif%}" data-toggle="dropdown"></i>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-tip-ne">
                            <h6 class="dropdown-header">{{ current_user.profile.name }}</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item " href="{{ url_for('profile.index') }}">Profile</a>
                            <a class="dropdown-item " href="{{ url_for('auth.logout') }}">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>