{% extends 'dashboard/layout.html' %}
{% block content %}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class='card'>
            <div class='card-body'>
                <h3 class="font__custom--title text-center mb-5">Setup account</h3>
                    <form method="post">
                        {{ form.csrf_token }}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class='form-group'>
                                    {% if form.first_name.errors %}
                                        {{ form.first_name.label(class_='label__text--small text__feedback--danger') }}
                                        {{ form.first_name(class_='form-control is-invalid') | safe }}
                                        {% for error in form.first_name.errors %}
                                            <div class="invalid-feedback font__custom"><i class="fas fa-exclamation-triangle"></i> {{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.first_name.label(class_='label__text--small') }}
                                        {{ form.first_name(class_='form-control') | safe }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class='form-group'>
                                    {% if form.last_name.errors %}
                                        {{ form.last_name.label(class_='label__text--small text__feedback--danger') }}
                                        {{ form.last_name(class_='form-control is-invalid') | safe }}
                                        {% for error in form.last_name.errors %}
                                            <div class="invalid-feedback font__custom"><i class="fas fa-exclamation-triangle"></i> {{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.last_name.label(class_='label__text--small') }}
                                        {{ form.last_name(class_='form-control') | safe }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class='form-group'>
                                    {% if form.address.errors %}
                                        {{ form.address.label(class_='label__text--small text__feedback--danger') }}
                                        {{ form.address(class_='form-control is-invalid') | safe }}
                                        {% for error in form.address.errors %}
                                            <div class="invalid-feedback font__custom"><i class="fas fa-exclamation-triangle"></i> {{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.address.label(class_='label__text--small') }}
                                        {{ form.address(class_='form-control') | safe }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class='form-group'>
                                    {% if form.apartment.errors %}
                                        {{ form.apartment.label(class_='label__text--small text__feedback--danger') }}
                                        {{ form.apartment(class_='form-control is-invalid') | safe }}
                                        {% for error in form.apartment.errors %}
                                            <div class="invalid-feedback font__custom"><i class="fas fa-exclamation-triangle"></i> {{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.apartment.label(class_='label__text--small') }}
                                        {{ form.apartment(class_='form-control') | safe }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class='form-group'>
                                    {% if form.city.errors %}
                                        {{ form.city.label(class_='label__text--small text__feedback--danger') }}
                                        {{ form.city(class_='form-control is-invalid') | safe }}
                                        {% for error in form.city.errors %}
                                            <div class="invalid-feedback font__custom"><i class="fas fa-exclamation-triangle"></i> {{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.city.label(class_='label__text--small') }}
                                        {{ form.city(class_='form-control') | safe }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class='form-group'>
                                    {% if form.zip_code.errors %}
                                        {{ form.zip_code.label(class_='label__text--small text__feedback--danger') }}
                                        {{ form.zip_code(class_='form-control is-invalid') | safe }}
                                        {% for error in form.zip_code.errors %}
                                            <div class="invalid-feedback font__custom"><i class="fas fa-exclamation-triangle"></i> {{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.zip_code.label(class_='label__text--small') }}
                                        {{ form.zip_code(class_='form-control') | safe }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class='form-group'>
                                    {% if form.country.errors %}
                                        {{ form.country.label(class_='label__text--small text__feedback--danger') }}
                                        {{ form.country(class_='form-control is-invalid') | safe }}
                                        {% for error in form.country.errors %}
                                            <div class="invalid-feedback font__custom"><i class="fas fa-exclamation-triangle"></i> {{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.country.label(class_='label__text--small') }}
                                        {{ form.country(class_='form-control') | safe }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class='form-group'>
                                    {% if form.county.errors %}
                                        {{ form.county.label(class_='label__text--small text__feedback--danger') }}
                                        {{ form.county(class_='form-control is-invalid') | safe }}
                                        {% for error in form.county.errors %}
                                            <div class="invalid-feedback font__custom"><i class="fas fa-exclamation-triangle"></i> {{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.county.label(class_='label__text--small') }}
                                        {{ form.county(class_='form-control') | safe }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class='form-group'>
                                    {% if form.phone_number.errors %}
                                        {{ form.phone_number.label(class_='label__text--small text__feedback--danger') }}
                                        {{ form.phone_number(class_='form-control is-invalid') | safe }}
                                        {% for error in form.phone_number.errors %}
                                            <div class="invalid-feedback font__custom"><i class="fas fa-exclamation-triangle"></i> {{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.phone_number.label(class_='label__text--small') }}
                                        {{ form.phone_number(class_='form-control') | safe }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class='form-group'>
                                    {% if form.website.errors %}
                                        {{ form.website.label(class_='label__text--small text__feedback--danger') }}
                                        {{ form.website(class_='form-control is-invalid') | safe }}
                                        {% for error in form.website.errors %}
                                            <div class="invalid-feedback font__custom"><i class="fas fa-exclamation-triangle"></i> {{ error }}</div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.website.label(class_='label__text--small') }}
                                        {{ form.website(class_='form-control') | safe }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <button type='submit' class='btn btn-block btn__custom--primary'>Setup</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

{% endblock %}
