{% extends 'email/layout.html' %}

{% block content %}

<p>Before you can start connecting your Etsy or Shopify merchant, you need to confirm your email address.</p>
 <!-- btn btn-primary btn-block -->
<a href='{{ url }}' style='display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem; color:#fff;background-color:#21CE99;border-color:#21CE99; text-decoration:none'>Confirm email address</a>

<p>If you did not create this merchant, please let me know immediately by replying to this email.</p>

<p>John from Selfcarty</p>

{% endblock %}