{% extends 'layout.html' %}

{% block content %}

<div class='row'>
    <div class='col-lg-6 mb-5'>
        <h1 style='font-weight: 900;'>Modular website builder. Hello from CircleCI!</h1>
        <p>
            The easiest way to get a website up and running for entrepreneurs.
        </p>
        <a class='btn btn-webprecon-primary' href='http://localhost:3000/signup'>Start now</a>
        <a class='btn btn-webprecon-primary-outline' href='mailto:john@webprecon.com'>Contact us</a>
    </div>
    <div class='col-lg-6'></div>
    <div class='col-lg-6 mb-3'>
        <h2>Feature 1</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Duis lacus est, bibendum eget lacus in, tristique molestie erat. 
            Nunc orci aliquam.
        </p>
    </div>
    <div class='col-lg-6 mb-3'>
        <p>Image 1</p>
    </div>
    <div class='col-lg-6 mb-3'>
        <p>Image 2</p>
    </div>
    <div class='col-lg-6 mb-3'>
        <h2>Feature 2</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Duis lacus est, bibendum eget lacus in, tristique molestie erat. 
            Nunc orci aliquam.
        </p>
    </div>
    <div class='col-lg-6 mb-3'>
        <h2>Feature 3</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Duis lacus est, bibendum eget lacus in, tristique molestie erat. 
            Nunc orci aliquam.
        </p>
    </div>
    <div class='col-lg-6'>
        <p>Image 3</p>
    </div>
</div>
{% endblock %}
