{% extends 'dashboard/layout.html' %}
{% block content %}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h3 class='font__custom--title mb-3'>Connect a new sale channel</h3>
                <a class='btn btn__custom--muted--outline btn-block' href="{{ url_for('channel.connect_etsy') }}">
                    <span class="float-left">
                        <span style="background-color: #D5641C; border-radius: 24px;" class="mr-3">
                            <i class="fab fa-etsy mr-3 ml-3" style="color: #FFF;"></i>
                        </span>
                        <span style="color: #111;">Etsy</span>
                    </span>
                    <span style="color: #FFF">.</span>
                    <span class="float-right">
                        <i class="fas fa-arrow-right" style="color: #FFBC00;"></i>
                    </span>
                </a>
                <a class='btn btn__custom--muted--outline btn-block' href="{{ url_for('channel.connect_etsy') }}">
                    <span class="float-left">
                        <span style="background-color: #96BF48; border-radius: 24px;" class="mr-3">
                            <i class="fas fa-shopping-bag mr-3 ml-3" style="color: #FFF;"></i>
                        </span>
                        <span style="color: #111;">Shopify</span>
                    </span>
                    <span style="color: #FFF">.</span>
                    <span class="float-right">
                        <i class="fas fa-arrow-right" style="color: #FFBC00;"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>

{% endblock %}
