<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "shared/head.html" %}
</head>
<body>
    {% include "home/nav.html" %}
    <div class='bg__layout--white mb-5'>
        <div class='container container__padding--top'>
            <div class='row'>
                <div class='col-lg-6 my-auto mb-5'>
                    <div class='mb-3'>
                        <h1 class='font__custom--title header__title--big'>Setup an online store</h1>
                        <h3 class='font__custom--text'>We make it simple to build a unique electronic store, sell your gadgets, and run a thriving business.</h3>
                    </div>
                    <div class='mb-3'>
                        <a href="{% url 'auth:signup' %}" class='btn btn__custom--primary mb-3 mr-3'>START NOW</a>
                        <a href="mailto:john@sedison.com" class='btn btn__custom--primary--outline mb-3'>CONTACT US</a>
                    </div>
                    <p class="font__custom--text">Already using Sedison? <a href="{% url 'auth:login' %}" class='anchor__custom--default'>Sign in</a></p>
                </div>
                <div class='col-lg-6 text-center mb-5'>
                    <img src="{% static 'img/vector-1.png' %}" class='img-fluid'>
                </div>
                <div class='col-lg-12 text-center mb-5'>
                    <h2 class='font__custom--title'>Made for gadgeteers</h2>
                    <p class='font__custom--text'>
                        Proin aliquet nunc nec urna tristique mollis.
                        Suspendisse ac neque enim.
                        Sed ut dolor eu nisi tempor ultricies blandit id diam.
                        Curabitur odio libero, bibendum quis tristique eget, egestas sit amet dui.
                        Curabitur id metus purus.
                        Mauris in leo laoreet, faucibus magna a massa nunc.
                    </p>
                    <img src='https://placeholder.pics/svg/305' class='img-fluid'>
                </div>
                <div class='col-lg-6 my-auto mb-5'>
                    <h2 class='font__custom--title'>Integrate plugins</h2>
                    <p class="font__custom--text">
                        Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        In lacinia rutrum metus sed mattis.
                        Sed sagittis nec nisl id condimentum.
                        Sed commodo tortor mi, vitae feugiat augue lacinia eu.
                        Integer ut lectus at ligula placerat vehicula.
                        Etiam interdum nisi sit amet pharetra sed.
                    </p>
                </div>
                <div class='col-lg-6 text-center mb-5'>
                    <img src='https://placeholder.pics/svg/301' class='img-fluid'>
                </div>
                <div class='col-lg-6 order-lg-2 my-auto mb-5'>
                    <h2 class='font__custom--title'>SEO friendly</h2>
                    <p class="font__custom--text">
                        Ut condimentum neque mi, vel dictum neque vulputate a.
                        Donec eget nisl vitae ex pretium ornare in eu ligula.
                        Phasellus aliquam sollicitudin purus nec condimentum.
                        Praesent tincidunt euismod eleifend. Donec nec tempus erat.
                        Fusce luctus dui sed nibh bibendum, quis varius orci sed.
                    </p>
                </div>
                <div class='col-lg-6 order-lg-1 text-center mb-5'>
                    <img src='https://placeholder.pics/svg/302' class='img-fluid'>
                </div>
                <div class='col-lg-6 order-lg-3 my-auto mb-5'>
                    <h2 class='font__custom--title'>Mobile support</h2>
                    <p class="font__custom--text">
                        Praesent dignissim ullamcorper magna, ut imperdiet urna venenatis mattis.
                        Aliquam dignissim justo nunc, eu venenatis urna rhoncus eu.
                        Fusce eu sapien non purus tristique gravida.
                        Donec hendrerit placerat sem, at iaculis nisi tincidunt porttitor.
                        Quisque sed eleifend lacus nullam.
                    </p>
                </div>
                <div class='col-lg-6 order-lg-4 text-center mb-5'>
                    <img src='https://placeholder.pics/svg/303' class='img-fluid'>
                </div>
                <div class='col-lg-6 order-lg-6 my-auto mb-5'>
                    <h2 class='font__custom--title'>Customer service</h2>
                    <p class="font__custom--text">
                        Suspendisse ornare convallis magna, eu auctor sem.
                        Curabitur lacinia tempor nunc eu euismod.
                        Nullam eget vulputate nisl.
                        Cras maximus massa nunc, ut convallis lacus iaculis sed.
                        Vivamus vel accumsan elit, eget ornare risus.
                        Sed commodo tortor dolor, in condimentum nibh cras amet.
                    </p>
                </div>
                <div class='col-lg-6 order-lg-5 text-center mb-5'>
                    <img src='https://placeholder.pics/svg/304' class='img-fluid'>
                </div>
            </div>
        </div>
    </div>
    <div class='col-lg-12 text-center' style='background-color: #F7F9FD; padding-top: 50px; padding-bottom: 50px;'>
        <h2 class='header__title mb-5'>Say hello to your new online store</h2>
        <a href="{% url 'auth:signup' %}" class='btn btn__custom--primary mb-3 mr-3'>CREATE ACCOUNT</a>
        <a href="mailto:john@sedison.com" class='btn btn__custom--primary--outline mb-3 text-center'>CONTACT US</a>
    </div>
    {% include "home/footer.html" %}
    {% include "shared/scripts.html" %}
</body>
</html>
