html, body {
    background-color: #F8F8F8;
}

.bg__nav--theme {
    background-color: #6B43FA;
}

.header__logo--inverse {
    color: #FFF;
}

.nav__usercircle--light {
    font-size: 30px;
    cursor: pointer;
    color: #7C7C7C;
}
.nav__usercircle--light:active, .nav__usercircle--light:hover, .nav__usercircle--light::selection {
    font-size: 30px;
    cursor: pointer;
    color: #505050;
}
.dropdown-item {
    color: #6B43FA;
}
.dropdown-item:active, .dropdown-item:hover {
    background-color: #F8F8F8;
    color: #111;
}