.container__padding {
    padding-top: 50px;
    padding-bottom: 50px;
}
.container__padding--top {
    padding-top: 50px;
}

.bg__layout--white {
    background-color: #FFF;
}

.bg__content--white {
    background-color: #F8F8F8;
}

.nav__navlink--center {
    font-weight: 700;
}

.header__title {
    font-family: 'Poppins';
    font-weight: 700;
}
.header__title--big {
    font-size: 48px;
}
.header__logo {
    padding-top: 20px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #111;
}

.btn__custom--primary {
    background-color: #6B43FA;
    color: #FFF;
    border-bottom: 2px solid rgb(83, 52, 194);
}
.btn__custom--primary:hover, .btn__custom--primary:focus, .btn__custom--primary:active, .btn__custom--primary.active, .open > .dropdown-toggle.btn__custom--primary {
    color: #FFF;
    box-shadow: 0 4px 8px 0 #D3D3D3;
    transition: 0.3s;
}
.btn__custom--primary-outline {
    border-color: #6B43FA;
    color: #6B43FA;
    border: 2px solid;
}
.btn__custom--primary-outline:hover, .btn__custom--primary-outline:focus, .btn__custom--primary-outline:active, .btn__custom--primary-outline.active, .open > .dropdown-toggle.btn__custom--primary-outline {
    color: #6B43FA;
}

.btn__custom--secondary {
    background-color: #FFF;
    color: #6B43FA;
}
.btn__custom--secondary:hover, .btn__custom--secondary:focus, .btn__custom--secondary:active, .btn__custom--secondary.active, .open > .dropdown-toggle.btn__custom--secondary {
    border-color: #FFF;
    color: #6B43FA;
}
.btn__custom--secondary-outline {
    border-color: #FFF;
    color: #FFF;
}
.btn__custom--secondary-outline:hover, .btn__custom--secondary-outline:focus, .btn__custom--secondary-outline:active, .btn__custom--secondary-outline.active, .open > .dropdown-toggle.btn__custom--secondary-outline {
    border-color: #FFF;
    color: #FFF;
}

.anchor__custom--muted {
    text-decoration: none !important;
    color: #999;
}
.anchor__custom--muted:hover {
    text-decoration: none !important;
    color: #1264A3;
}
.anchor__custom--default {
    text-decoration: none !important;
    color: #1264A3;
}

.text__tranform--uppercase {
    text-transform: uppercase;
}
.label__text--small {
    font-size: 13px;
}
.text__invalidfeedback--small {
    font-size:80%;
    color: #DC3545;
}
.text__invalidfeedback--default {
    color: #DC3545;
}

/* Bootstrap 4 */

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgb(218, 218, 218);
    border: 0rem !important;
}
.form-control {
    border-radius: 8px;
    height: 48px;
    color: #4F566B !important;
}
.form-control:focus, .form-control:active {
    color: #111 !important;
}
.btn {
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}