{% extends 'dashboard/layout.html' %}
{% block content %}

<div class='row'>
    <div class='col-lg-3'></div>
    <div class='col-lg-6'>
        <div class='card'>
            <div class='card-body'>
                <h3 class='font__custom--title mt-3 mb-5'>Account</h3>
                {% for field in ('name', 'phone', 'website',) %}
                    <div class='form-group row'>
                        <small class="col-md-3 col-form-label text-md-right label__text--small"> {{ field | title }}</small>
                        <div class="col-md-6">
                            <p class="font__custom--text mt-1">TODO: {{ field }}</p>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-Primary" data-toggle="modal" data-target="#change-{{ field }}-modal">Edit</button>
                        </div>
                    </div>
                {% endfor %}

                <h3 class='font__custom--title mb-3'>Address</h3>
                {% for field in ('address', 'apartment', 'zipcode', 'city', 'county', 'country',) %}
                    <div class='form-group row'>
                        <small class="col-md-3 col-form-label text-md-right label__text--small"> {{ field | title }}</small>
                        <div class="col-md-6">
                            <p class="font__custom--text mt-1">TODO: {{ field }}</p>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-Primary" data-toggle="modal" data-target="#change-{{ field }}-modal">Edit</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class='col-lg-3'></div>
</div>

{% endblock %}
