{% extends 'shared/layout.html' %}

{% block content %}

<div class='mb-5'>
    <h2 class='h2-heading'>About</h2>
    <p>I believe it should be simple to take your stuff and list it on marketplaces like eBay, Amazon and Etsy. But it shouldn't end there. Channelry does more than just let you list your items and manage your sales - it teaches how you can maximize your profits and to increase the success of your business. With Channelry you can be running your own successful online business in no time.</p>
</div>

<div class='mb-5'>
    <h2 class='h2-heading'>Team</h2>
    <p>Channelry is a one-person bootstrapped company. I truly enjoy building things. I love the web, and care deeply about the products I build. If you see anything I could do better, please <a href='mailto:john@channelry.com'>let me know</a>.</p>
    <div class='row'>
        <div class='col-sm-6 col-lg-3'>
            <div class="card">
                <img class="card-img-top" src="https://www.jkrclaro.com/static/media/me.6595ced6.png" alt="John Claro" height=200 width=200>
                <div class="card-body">
                    <h5 class="card-title h5-heading">John Claro</h5>
                    <p class="card-text">Before Channelry, John worked as data engineer for Ireland's largest marketplace. He studied Applied Computing in Waterford Institute of Technology.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
