{% extends 'shared/layout.html' %}

{% block content %}

<div class='mb-5'>
    <h2 class='h2-heading'>About</h2>
    <p>Every small business owner knows word of mouth can be a powerful way to grow a business. We help small businesses get more referrals by making it easier for customers to refer a business to their friends by utilizing proven referral marketing strategies and tactics built into the service.</p>
</div>

<div class='mb-5'>
    <h2 class='h2-heading'>We care deeply about trust</h2>
    <p>At Rewardplex, we're convinced that every transaction is based on trust. It doesn't matter if you're buying your dream car or just dinner. You only want to do business with someone you believe.</p>
    <p>So what does this mean if you're a merchant selling your wares in the proverbial village marketplace? How do you use trust to guide your next customer to you? The key is to get someone who trusts you, to tell others who don't know you, about you.</p>
    <p>And this is the essence of referral marketing. Its power lies in the personal relationships that pass trust along. This is what makes referral marketing important and it's clear that it works. We want to make it easy for you to harness trust to grow your business.</p>
</div>

<div class='mb-5'>
    <h2 class='h2-heading'>Team</h2>
    <p>Rewardplex is a one-person bootstrapped company. We truly enjoy building things. We love the web, and care deeply about the products We build. If you see anything we could do better, please <a href='mailto:john@rewardplex.com'>let me know</a>.</p>
    <div class='row'>
        <div class='col-sm-6 col-lg-3'>
            <div class="card">
                <img class="card-img-top" src="https://www.jkrclaro.com/static/media/me.6595ced6.png" alt="John Claro" height=200 width=200>
                <div class="card-body">
                    <h5 class="card-title h5-heading">John Claro</h5>
                    <p class="card-text">Before Rewardplex, John worked as data engineer for DoneDeal.ie. He studied Applied Computing in WIT.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
