{% extends 'shared/layout.html' %}
{% load static %}

{% block content %}


<div class='row'>
    <div class='col-lg-12 text-center'>
        <h1>Audio to Text in minutes!</h1>
        <h2>Automatic transcription software</h2>
        <p>All formats of audio accepted<p>
    </div>
    <div class='col-lg-6'>Feature 1</div>
    <div class='col-lg-6'>Image 1</div>
    <div class='col-lg-6'>Image 2</div>
    <div class='col-lg-6'>Feature 2</div>
    <div class='col-lg-6'>Feature 3</div>
    <div class='col-lg-6'>Image 3</div>
</div>

{% endblock %}
