{% extends "shared/layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}


<div class="row mt-5">
    <div class="col-lg-6 mb-5 my-auto">
        <h1 class="common-Heading">Build one-page sites for pretty much anything</h1>
        <div class="common-Paragraph mb-3">
            Whether it's a personal profile, a landing page to capture emails,
            or something a bit more elaborate, Wxbsite has you covered.
            Simple, responsive, and yup — totally free.
        </div>
        <a href="#" class="btn btn-wxbsite-primary mb-2">Start free trial</a>
    </div>
    <div class="col-lg-6 text-center mb-5">
        <img class="img-fluid mb-2" style="border-radius: 8px;" src="https://via.placeholder.com/400">
    </div>

    <div class="col-lg-4 mb-5">
        <h5 class="common-Heading">Simple</h5>
        <div class="common-Paragraph">
            Start with one of dozens of templates (or a blank canvas) and make it your own.
        </div>
    </div>
    <div class="col-lg-4 mb-5">
        <h5 class="common-Heading">Responsive</h5>
        <div class="common-Paragraph">
            Look great at every screen size right out of the box, from phones to tablets to desktops.
        </div>
    </div>
    <div class="col-lg-4 mb-5">
        <h5 class="common-Heading">Free</h5>
        <div class="common-Paragraph">
            Build up to three sites per account and use all of Wxsbite's core features – for free!
        </div>
    </div>


</div>

{% endblock %}
