{% extends 'shared/layout.html' %}
{% load static %}

{% block content %}


<div class='row mt-5'>
    <div class='col-lg-6 mb-5 my-auto'>
        <h1 class='h1-heading'>Selling made easy</h1>
        <p>Manage your inventory across Amazon, Shopify, Etsy and Ebay all in one dashboard.</p>
        <a href="{% url 'channelry:signup' %}" class='btn btn-channelry-primary mb-3 mr-3'>Start now</a>
        <a href="mailto:john@channelry.com" class='btn btn-channelry-primary-outline mb-3'>Contact us</a>
    </div>
    <div class='col-lg-6 mb-5'>
        <img src="{% static 'img/vector-5.png' %}" class='img-fluid'/>
    </div>
</div>

{% endblock %}
