{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="modal" id="message-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container--top">
                            <div class="text-center">
                                {% for category, message in messages %}
                                    <div class='feedback-{{ category }} text-center'>
                                        <i class="fas fa-check-circle feedback {% if category == 'danger' %} danger {% else %} success {% endif %} mb-3"></i>
                                        <p>{{ message }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-Theme" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(window).on('load',function(){
                $('#message-modal').modal('show');
            });
        </script>
    {% endif %}
{% endwith %}