<!DOCTYPE html>
<html lang="en">
<head>
    {% include "shared/head.html" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shared.css') }}"/>
</head>
<body>
    <h1 class='text-center mt-5'>
        <a href='/' class='header__logo header__logo--theme header__title--big anchor__custom--notextdecoration'>
            <img src="{{ url_for('static', filename='img/distogo.png') }}" class="img-fluid" width="50" height="50">
        </a>
    </h1>
    {% include "shared/messages.html" %}
    {% block content %}{% endblock %}
    {% include "shared/scripts.html" %}
</body>
</html>